<!doctype html>
<html lang="en" ng-app="fabApp">
<head>
    <meta charset="UTF-8">
    <title>fab</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

    <div class="fab screen7">
        <div class="fab-header">
            <div class="wrap">
                <div class="fab-header-top fab-rowCenter">
                    <div>
                        <a href="#">
                            <i class="fb fb-arr-l"></i>
                        </a>

                        <span>SALON</span>
                    </div>

                    <div class="fab-header-top-nav">
                        <a href="#"><i class="fb fb-searchW"></i></a>
                        <a href="#"><i class="fb fb-colb"></i></a>
                        <a href="#" class="fab-header-top-nav-drop">
                            <i class="fb fb-settings"></i>
                            <div class="fab-header-top-nav-drop-box">
                                <span class="fab-header-top-nav-drop-box-title">sort by</span>
                                <span class="fab-header-top-nav-drop-box-item"><i class="fb fb-price"></i> <b>price</b></span>
                                <span class="fab-header-top-nav-drop-box-item"><i class="fb fb-rating"></i> <b>ratings</b></span>
                                <span class="fab-header-top-nav-drop-box-item"><i class="fb fb-distance"></i> <b>distance</b></span>
                                <span class="fab-header-top-nav-drop-box-item"><i class="fb fb-alpha"></i> <b>alphabetlpha</b></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="screen7-content">
            <div class="screen6-content-tabs" ng-controller="tabCtrl">
                <div class="screen6-content-tabs-btns">
                    <div class="wrap">
                        <button ng-class="{active: isSet('services')}" ng-click="setTab('services')">hair cut (34) <span>+</span></button>
                        <button ng-class="{active: isSet('salon')}" ng-click="setTab('salon')">facial (57) <span>+</span></button>
                        <button ng-class="{active: isSet('bodycare')}" ng-click="setTab('bodycare')">bodycare (89) <span>+</span></button>
                    </div>
                </div>



                <div class="screen7-content-items">
                    <div class="screen7-content-items-item">
                        <div class="wrap">
                            <div class="screen7-content-items-item-rating">4.3</div>
                            <h2 class="screen7-content-items-item-title">the steak factory</h2>
                            <h3 class="screen7-content-items-item-subTitle">Cyber Hub, DLF Cyber City, Gurgano</h3>
                            <h3 class="screen7-content-items-item-subTitle"><b>Cost:</b> <span>Rs 500 - Rs 5000</span> <b>Duration:</b> 2 Hrs</h3>
                            <button class="screen7-content-items-item-btn">Economic</button>
                            <div class="screen7-content-items-item-imgs">
                                <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg1.png" alt=""/></a>
                                <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg2.png" alt=""/></a>
                                <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg3.png" alt=""/></a>
                                <a href="#" class="screen7-content-items-item-imgs-img"><span>+23</span></a>
                            </div>


                            <div class="screen7-content-items-item-btns fab-rowCenter">
                                <div>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-phone"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-map-mark"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-message"></i></button>
                                </div>
                                <div class="screen7-content-items-item-btns-km">10.8 <span>Km</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="screen7-content-items-item">
                        <div class="wrap">
                            <div class="screen7-content-items-item-rating">4.3</div>
                            <h2 class="screen7-content-items-item-title">the steak factory</h2>
                            <h3 class="screen7-content-items-item-subTitle">Cyber Hub, DLF Cyber City, Gurgano</h3>
                            <h3 class="screen7-content-items-item-subTitle"><b>Cost:</b> <span>Rs 500 - Rs 5000</span> <b>Duration:</b> 2 Hrs</h3>
                            <button class="screen7-content-items-item-btn">Economic</button>
                            <div class="screen7-content-items-item-imgs fab-rowCenter">
                                <div>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg1.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg2.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg3.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><span>+23</span></a>
                                </div>
                                <a href="" class="screen7-content-items-item-imgs-map"><i class="fb fb-map"></i></a>
                            </div>


                            <div class="screen7-content-items-item-btns fab-rowCenter">
                                <div>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-phone"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-map-mark"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-message"></i></button>
                                </div>
                                <div class="screen7-content-items-item-btns-km">10.8 <span>Km</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="screen7-content-items-item">
                        <div class="wrap">
                            <div class="screen7-content-items-item-rating">4.3</div>
                            <h2 class="screen7-content-items-item-title">the steak factory</h2>
                            <h3 class="screen7-content-items-item-subTitle">Cyber Hub, DLF Cyber City, Gurgano</h3>
                            <h3 class="screen7-content-items-item-subTitle"><b>Cost:</b> <span>Rs 500 - Rs 5000</span> <b>Duration:</b> 2 Hrs</h3>
                            <button class="screen7-content-items-item-btn">Economic</button>
                            <div class="screen7-content-items-item-imgs fab-rowCenter">
                                <div>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg1.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg2.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><img src="i/reviewImg3.png" alt=""/></a>
                                    <a href="#" class="screen7-content-items-item-imgs-img"><span>+23</span></a>
                                </div>
                                <a href="" class="screen7-content-items-item-imgs-map"><i class="fb fb-map"></i></a>
                            </div>


                            <div class="screen7-content-items-item-btns fab-rowCenter">
                                <div>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-phone"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-map-mark"></i></button>
                                    <button class="screen7-content-items-item-btns-btn"><i class="fb fb-message"></i></button>
                                </div>
                                <div class="screen7-content-items-item-btns-km">10.8 <span>Km</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bower:js -->
    <script src="bower/angular/angular.js"></script>
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->

    <script src="js/main.js"></script>
</body>
</html>