<!doctype html>
<html lang="en" ng-app="fabApp">
<head>
    <meta charset="UTF-8">
    <title>fab</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

    <div class="fab screen6">
        <div class="fab-header">
            <div class="wrap">
                <div class="fab-header-top">
                    <a href="#">
                        <i class="fb fb-arr-l"></i>
                    </a>

                    <span>Gurgao</span>,
                    <select>
                        <option>India</option>
                        <option>India2</option>
                        <option>India3</option>
                        <option>India4</option>
                        <option>India5</option>
                        <option>India6</option>
                    </select>
                    <i class="fb fb-angle-down"></i>
                </div>
                <div class="fab-header-screen6">
                    <input class="fab-header-screen6-input" type="text" placeholder="Search any beauty services..."/>
                    <button class="fab-header-screen6-btn"><i class="fb fb-search"></i></button>
                </div>
            </div>
        </div>

        <div class="screen6-content">
            <div class="screen6-content-tabs" ng-controller="tabCtrl">
                <div class="screen6-content-tabs-btns">
                    <div class="wrap">
                        <button ng-class="{active: isSet('services')}" ng-click="setTab('services')">Services</button>
                        <button ng-class="{active: isSet('salon')}" ng-click="setTab('salon')">salon</button>
                    </div>
                </div>


                <div class="screen6-content-tabs-box">
                    <div class="wrap">
                        <div fab-accordion class="acc" ng-show="isSet('services')">
                            <div ng-repeat="item in servicesData">
                                <div class="acc-title">
                                    <i class="fb fb-service2"></i>
                                    <span>{{item.service}}</span>
                                    <i class="fb fb-plus"></i>
                                </div>
                                <div class="acc-content">
                                    <ul class="screen6-content-tabs-box-acc-ul">
                                        <li class="screen6-content-tabs-box-acc-ul-li" ng-repeat="content in item.serviceContent">
                                            <label class="screen6-content-tabs-box-acc-ul-li-label">
                                                <input type="checkbox">
                                                <span>{{content.name}} <i class="fb fb-check"></i></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                        <div ng-show="isSet('salon')">
                            next content
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="fab-footer">
            <div class="wrap fab-between">
                <a href="#" class="fab-footer-link"><i class="fb fb-basket"></i> <span>2</span></a>

                <button class="fab-footer-button">Find Salon</button>

                <a href="#" class="fab-footer-link"><i class="fb fb-arr-r"></i></a>
            </div>
        </div>
    </div>


    <!-- bower:js -->
    <script src="bower/angular/angular.js"></script>
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->

    <script src="js/main.js"></script>
</body>
</html>