* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none !important; }

img {
  vertical-align: bottom; }

ul {
  list-style-type: none; }

.loader {
  margin: 10px;
  background-color: transparent;
  border-radius: 48px;
  width: 48px;
  height: 48px;
  animation: load .5s infinite linear;
  -moz-animation: load .5s infinite linear;
  -webkit-animation: load .5s infinite linear;
  border-width: 4px;
  border-style: solid;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-left-color: white; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fb {
  background-image: url(../../i/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.fb-angle-down {
  width: 15px;
  height: 9px;
  background-position: -5px -5px; }

.fb-arr-left {
  width: 40px;
  height: 31px;
  background-position: -30px -5px; }

.fb-arr-right {
  width: 41px;
  height: 32px;
  background-position: -80px -5px; }

.fb-search {
  width: 35px;
  height: 34px;
  background-position: -5px -47px; }

.fb-search1 {
  width: 44px;
  height: 48px;
  background-position: -50px -47px; }

.fb-search2 {
  width: 46px;
  height: 51px;
  background-position: -104px -47px; }

.fb-search3 {
  width: 35px;
  height: 53px;
  background-position: -160px -5px; }

.fb-search4 {
  width: 47px;
  height: 44px;
  background-position: -5px -108px; }

.fb-basket {
  width: 53px;
  height: 53px;
  background-position: -62px -108px; }

.fb-open-accordion {
  width: 28px;
  height: 28px;
  background-position: -160px -68px; }

.fb-close-accordion {
  width: 28px;
  height: 28px;
  background-position: -160px -106px; }

.fb-checked {
  width: 31px;
  height: 20px;
  background-position: -125px -144px; }

html, body {
  min-width: 640px;
  min-height: 100%;
  height: 100%; }

.fab .wrap {
  width: 94%;
  max-width: 640px;
  margin: 0 auto; }

.fab .dibM, .fab .fab-header-top a, .fab-header-top .fab a, .fab .fab-header-top span, .fab-header-top .fab span, .fab .fab-header-top select, .fab-header-top .fab select, .fab .search-content-tabs-box-accordion-title i, .search-content-tabs-box-accordion-title .fab i, .fab .search-content-tabs-box-accordion-title span, .search-content-tabs-box-accordion-title .fab span, .fab .search-content-tabs-box-accordion-item-ul-li i, .search-content-tabs-box-accordion-item-ul-li .fab i, .fab .search-content-tabs-box-accordion-item-ul-li-label {
  display: inline-block;
  vertical-align: middle; }

.fab .submit {
  border: 0;
  background: #f12945;
  padding: 14px 0;
  width: 80%;
  border-radius: 5px;
  font-size: 35px; }

.fab-lineThrough {
  display: table;
  white-space: nowrap; }
  .fab-lineThrough:before, .fab-lineThrough:after {
    border-top: 1px solid white;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  .fab-lineThrough:before {
    right: 1.5%; }
  .fab-lineThrough:after {
    left: 1.5%; }

.fab-between, .fab-around {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fab-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.fab-header {
  background: #00aeef;
  padding: 25px 0 15px; }
  .fab-header-top {
    padding: 0 0 10px;
    font-size: 28px;
    color: white;
    overflow: hidden; }
    .fab-header-top span {
      margin: 0 0 0 30px; }
    .fab-header-top select {
      background: none;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .fab-header-top select option {
        color: #fff;
        background: #00aeef; }
    .fab-header-top-user {
      float: right; }
    .fab-header-top-nav {
      float: right; }
  .fab-header-welcome {
    font-size: 22px;
    color: #fff;
    margin: 0 0 15px; }
  .fab-header-search {
    position: relative; }
    .fab-header-search-input {
      width: 100%;
      border: none;
      font-size: 22px;
      padding: 17px 10px 17px 70px;
      border-radius: 5px; }
    .fab-header-search-btn {
      position: absolute;
      left: 20px;
      top: 15px;
      background: none;
      border: none; }

.fab-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #f12945;
  padding: 11px 0; }
  .fab-footer .wrap {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .fab-footer-link {
    position: relative; }
    .fab-footer-link span {
      position: absolute;
      right: -10px;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      color: #685913;
      background: #fff840; }
  .fab-footer-button {
    background: none;
    border: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase; }

.search {
  min-height: 100%;
  height: 100%; }
  .search-content {
    min-height: 100%;
    height: 100%;
    color: #000; }
    .search-content-tabs {
      min-height: 100%;
      height: 100%; }
      .search-content-tabs-btns {
        font-size: 0;
        background: #f2f2f2; }
        .search-content-tabs-btns button {
          background: none;
          text-align: center;
          font-size: 24px;
          color: #000;
          width: 50%;
          border: none;
          border-bottom: 8px solid transparent;
          padding: 25px 0;
          text-transform: uppercase;
          position: relative; }
          .search-content-tabs-btns button.active {
            border-bottom: 8px solid #f12945; }
          .search-content-tabs-btns button:first-child:after {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 88%;
            margin: 2.2% 0 0;
            width: 1px;
            background: #747474;
            content: ''; }
      .search-content-tabs-box {
        background: url(../../i/searchBg.png) center center no-repeat fixed;
        -khtml-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height: 100%;
        padding: 0 0 78px;
        color: #fff; }
        .search-content-tabs-box-accordion-title {
          padding: 20px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          cursor: pointer; }
          .search-content-tabs-box-accordion-title.open .fb-open-accordion {
            background-position: -160px -106px; }
          .search-content-tabs-box-accordion-title:last-child {
            border: 0; }
          .search-content-tabs-box-accordion-title i:last-child {
            float: right;
            margin: 7px 0 0; }
          .search-content-tabs-box-accordion-title span {
            font-size: 26px;
            margin: 0 0 0 30px; }
          .search-content-tabs-box-accordion-title-title:last-child {
            border-bottom: 0; }
        .search-content-tabs-box-accordion-item {
          display: none; }
          .search-content-tabs-box-accordion-item.open {
            display: block; }
          .search-content-tabs-box-accordion-item-ul-li {
            margin: 0 0 0 80px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
            .search-content-tabs-box-accordion-item-ul-li:last-child {
              border: 0; }
            .search-content-tabs-box-accordion-item-ul-li i:last-child {
              float: right;
              margin: 7px 0 0; }
            .search-content-tabs-box-accordion-item-ul-li-label {
              width: 100%;
              font-size: 26px;
              padding: 15px 0;
              cursor: pointer; }
              .search-content-tabs-box-accordion-item-ul-li-label span {
                width: 100%; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"] {
                display: none; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"] + span i {
                float: right;
                position: relative;
                display: none; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"]:checked + span {
                color: #8fc02f; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"]:checked + span i {
                display: block;
                color: #8fc02f; }

.screen1 {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff; }
  .screen1 .logo {
    padding: 100px 0 0; }
  .screen1 h2 {
    margin: 100px 0 0; }
  .screen1 .loader {
    margin: 120px auto 0; }

.location {
  background: url(../../i/locationBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  color: #fff; }
  .location-content {
    text-align: center;
    padding: 60px 0 0; }
    .location-content h2 {
      font-size: 50px; }
    .location-content h3 {
      margin: 20px 0 40px;
      font-size: 25px; }
    .location-content a {
      color: #fff;
      margin: 0 0 40px;
      display: inline-block; }
      .location-content a:hover {
        text-decoration: none; }
    .location-content .fab-header-search {
      margin: 0 0 30px; }

.signIn {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%; }
  .signIn-content {
    text-align: center;
    color: #fff;
    width: 85%;
    margin: 0 auto; }
    .signIn-content-fbBtn {
      margin: 125px 0 20px;
      background: #2963b4;
      display: inline-block;
      width: 100%;
      line-height: 80px;
      font-size: 30px;
      border-radius: 5px;
      overflow: hidden; }
      .signIn-content-fbBtn:before {
        content: 'f';
        float: left;
        background: #4269ce;
        padding: 0 30px;
        font-size: 35px;
        font-weight: bold; }
    .signIn-content .fab-lineThrough {
      font-size: 16px;
      margin: 30px 0; }
    .signIn-content-box {
      text-align: left;
      margin: 70px 0 0; }
      .signIn-content-box .signIn-content-box-input {
        margin: 40px 0 0;
        position: relative; }
        .signIn-content-box .signIn-content-box-input img {
          position: absolute;
          left: 0;
          top: 10px; }
        .signIn-content-box .signIn-content-box-input input {
          background: none;
          font-size: 25px;
          border: 0;
          border-bottom: 1px solid white;
          width: 100%;
          padding: 10px 10px 10px 40px; }
    .signIn-content .submit {
      margin: 50px 0 0; }

.screen5 {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%; }
  .screen5-content {
    margin: 30px 0 0; }
    .screen5-content-item {
      width: 33%;
      margin: 0 0 20px;
      color: #fff;
      text-align: center;
      text-decoration: none; }
      .screen5-content-item-title {
        width: 140px;
        margin: 10px auto 0; }

.screen7 .search-content-tabs-btns button {
  width: 33%;
  padding: 10px 15px 10px 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 20px; }
  .screen7 .search-content-tabs-btns button:after {
    display: none; }
  .screen7 .search-content-tabs-btns button span {
    position: absolute;
    right: 0;
    top: 5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: inline-block;
    font-size: 30px;
    font-family: serif; }
