<!doctype html>
<html lang="en" ng-app="fabApp">
<head>
    <meta charset="UTF-8">
    <title>fab</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower/bootstrap-css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower/perfect-scrollbar/src/perfect-scrollbar.css" />
    <link rel="stylesheet" href="bower/angular-aside/dist/css/angular-aside.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

    <div class="fab screen5">
        <div class="fab-header">
            <div class="wrap">
                <div class="fab-header-top fab-rowCenter" ng-controller="leftMenuCtrl">
                    <div>
                        <button ng-click="openAside('left', true)" class="fab-header-top-menu">
                            <i class="fb fb-menu"></i>
                        </button>
                        <span>Gurgao</span>,
                        <select>
                            <option>India</option>
                            <option>India2</option>
                            <option>India3</option>
                            <option>India4</option>
                            <option>India5</option>
                            <option>India6</option>
                        </select>
                        <i class="fb fb-angle-d"></i>
                    </div>

                    <a href="#" class="fab-header-top-user">
                        <i class="fb fb-user-circle"></i>
                    </a>
                </div>
                <div class="fab-header-welcome">
                    Hay! Welcome
                </div>
                <div class="fab-header-screen6">
                    <input class="fab-header-screen6-input" type="text" placeholder="Service, Salon, Service"/>
                    <button class="fab-header-screen6-btn"><i class="fb fb-search"></i></button>
                </div>
            </div>
        </div>

        <div class="screen5-content">
            <div class="wrap fab-around">
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service1-big"></i></span>
                    <h2 class="screen5-content-item-title">Hair cut & Styling</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service2-big"></i></span>
                    <h2 class="screen5-content-item-title">Body Care</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service3-big"></i></span>
                    <h2 class="screen5-content-item-title">Look Special</h2>
                </a>

                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service4-big"></i></span>
                    <h2 class="screen5-content-item-title">Fitness</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service5-big"></i></span>
                    <h2 class="screen5-content-item-title">Packeges</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service6-big"></i></span>
                    <h2 class="screen5-content-item-title">Hands, Feet & Nails</h2>
                </a>

                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service7-big"></i></span>
                    <h2 class="screen5-content-item-title">Face</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service8-big"></i></span>
                    <h2 class="screen5-content-item-title">Treatments</h2>
                </a>
                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service9-big"></i></span>
                    <h2 class="screen5-content-item-title">Soul Meets Mind</h2>
                </a>

                <a href="#" class="screen5-content-item">
                    <span class="screen5-content-item-img"><i class="fb fb-service10-big"></i></span>
                    <h2 class="screen5-content-item-title">Photoshoot</h2>
                </a>
            </div>
        </div>
    </div>


    <!-- bower:js -->
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="bower/angular/angular.js"></script>
    <script src="bower/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="bower/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
    <script src="bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower/angular-aside/dist/js/angular-aside.js"></script>
    <!-- endbower -->

    <script src="js/main.js"></script>
</body>
</html>