@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700)
@import 'grid.sass'


*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style-type: none
  transition: all 0.2s ease
  &:focus
    outline: none

img
  vertical-align: bottom


//================================================================================
.dibM
  display: inline-block
  vertical-align: middle

.dibT
  display: inline-block
  vertical-align: top
//================================================================================

body
  font-family: 'Open Sans', sans-serif
  font-size: 14px





.fabD
  .wrap
    width: 1140px
    margin: 0 auto
    position: relative


  &-title
    width: 100%
    text-align: center
    color: #212121
    font-size: 24px
    position: relative
    font-weight: 700
    margin: 70px 0 60px
    &:after
      content: ''
      position: absolute
      left: 50%
      bottom: -5px
      width: 34px
      height: 3px
      margin: 0 0 0 -17px
      background: #f12844


  &-header
    &-logo
      padding: 13px 0
    &-menu
      &-btn
        @extend .dibM
        background: none
        border: 0
        color: #212121
        font-size: 18px
        padding: 10px
      &-userSelect
        @extend .dibM
        padding: 15px
        font-weight: 600
        i
          color: #f12844
      &-userImg
        @extend .dibM
        width: 47px
        height: 47px
        border-radius: 50%
        overflow: hidden
        border: 1px solid #00aeef


  &-slider
    background: url(../../i/mainBg.png)  center center no-repeat
    -webkit-background-size: cover
    -khtml-background-size: cover
    -moz-background-size: cover
    -ms-background-size: cover
    -o-background-size: cover
    background-size: cover
    width: 100%
    height: 500px
    padding: 140px 0 0
    text-align: center
    &-subTitle
      text-align: center
      font-size: 16px
      color: #fff
    &-title
      text-align: center
      font-size: 54px
      color: #fff
      text-transform: uppercase
      position: relative
      display: inline-block
      padding: 0 0 15px
      margin: 0 0 25px
      &:after
        content: '\f0a3'
        position: absolute
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 1px
        background: #fff
        font: normal normal normal 14px/1 FontAwesome
        line-height: 1px
      span
        color: #00aeef
    &-searchBox
      font-size: 0
      &-select,
      &-input,
      &-btn
        @extend .dibT
        font-size: 16px
        border: 0
      &-select
        width: 15%
        position: relative
        height: 58px
        oi-select
          height: 100%
          .select-search
            height: 100%
            padding: 8px 0 0 30px
            border-radius: 0
            border-left: 1px solid #b2b3b4
            &-list-item
              font-size: 20px
            &:before
              content: '\f041'
              font: normal normal normal 14px/1 FontAwesome
              font-size: 20px
              position: absolute
              left: 13px
              top: 18px
              color: #757575
        //select
        //  height: 100%
        //  padding: 15px 15px 15px 30px
        //  width: 100%
        //  color: #757575
        //  font-size: 18px
        //  border-left: 1px solid #b2b3b4
      &-input
        width: 65%
        position: relative
        &:before
          content: '\f00c'
          font: normal normal normal 14px/1 FontAwesome
          font-size: 20px
          position: absolute
          left: 13px
          top: 18px
          color: #757575
        input
          width: 100%
          color: #757575
          font-size: 18px
          padding: 15px 15px 15px 50px
          border-left: 1px solid #b2b3b4
      &-btn
        padding: 17px
        width: 20%
        color: #fff
        font-size: 18px
        background: #00aeef
        &:active
          opacity: 0.7
        i
          margin: 0 15px 0 0


  &-services
    margin: 0 0 40px
    &-box
      margin: 0 0 55px
      &-item
        width: 360px
        height: 300px
        margin: 0 0 25px
        position: relative
        img
          width: 100%
        span
          position: absolute
          top: 44%
          left: 0
          right: 0
          text-align: center
          font-size: 25px
          font-weight: 600
          color: #fff
        &_big
          width: 750px


    &-tabs
      &-btns
        font-size: 0
        margin: 0 0 15px
        &-btn
          vertical-align: top
          background: #212121
          border: 1px solid #00aeef
          border-top: 0
          border-bottom: 0
          width: 12.5%
          color: #fff
          font-size: 14px
          font-weight: 600
          height: 80px
          position: relative
          padding: 0 0 0 45px
          text-align: left
          i
            position: absolute
            left: 10px
            top: 36%
            font-size: 24px
          &:hover,
          &.active
            background: #f9f9f9
            border-color: #f9f9f9
            color: #212121

      &-content
        border: 1px solid #cccccc
        padding: 30px 35px
        font-size: 0
        &-checkbox
          @extend .dibT
          font-size: 14px
          width: 33.33333%
          margin: 5px 0
          label
            cursor: pointer
            input
              display: none
              &:checked
                + .fa-square-o:before
                  content: "\f14a"
          i
            margin: 0 5px 0 0


  &-serviceProviders
    background: url(../../i/middleBg.png)  center center no-repeat
    -webkit-background-size: cover
    -khtml-background-size: cover
    -moz-background-size: cover
    -ms-background-size: cover
    -o-background-size: cover
    background-size: cover
    width: 100%
    height: 125px
    line-height: 125px
    &-btn
      width: 125px
      height: 50px
      line-height: 50px
      text-align: center
      background: rgba(255, 255, 255, 0.6)
      color: #00aeef
      border: 0
      border-radius: 4px
      font-size: 18px
      font-weight: 700
    &-title
      color: #fff
      font-size: 18px
      font-weight: 700


  &-saloons
    &-tabs
      &-btns
        margin: 0 0 15px
        &-btn
          opacity: .6
          width: 170px
          height: 80px
          overflow: hidden
          cursor: pointer
          img
            width: 100%
          &_showMore
            background: #00aeef
            line-height: 80px
            color: #fff
            font-weight: 600
            font-size: 18px
            opacity: 1
            text-align: center
            text-decoration: none
          &:hover,
          &.active
            opacity: 1

      &-content
        border: 1px solid #cccccc
        padding: 60px 35px
        &-left
          @extend .dibT
          width: 40%
          padding: 0 60px 0 0
          border-right: 1px solid #cccccc
          img
            width: 100%
          &-title
            color: #212121
            text-transform: uppercase
            font-size: 16px
            font-weight: 700
            text-align: center
            margin: 15px 0 0


        &-right
          @extend .dibT
          width: 60%
          text-align: center
          padding: 0 0 0 60px
          &-infoLeft,
          &-infoRight
            @extend .dibT
            border: 1px solid #cccccc
            width: 270px
            height: 95px
            padding: 30px 0 0
            text-align: center
          &-infoLeft
            font-size: 24px
            color: #212121
            font-weight: 700
            margin: 0 35px 0 0
          &-infoRight
            color: #999999
            &-stars
              font-size: 24px
              color: #f12844


          &-text
            width: 100%
            margin: 40px 0 0
            color: #212121
            line-height: 24px
            &-show
              border-top: 2px solid #00aeef
              color: #00aeef
              font-size: 18px
              text-decoration: none
              margin: 35px 0 0
              display: inline-block
              text-transform: uppercase


  &-blog
    &-item
      @extend .dibT
      width: 48%
      &-img
        img
          width: 100%
      &-box
        -webkit-box-shadow: 0 2px 10px -1px #000
        box-shadow: 0 2px 10px -1px #000
        padding: 25px 35px
        &-btn
          @extend .dibT
          color: #00aeef
          border: 1px solid #00aeef
          font-size: 12px
          padding: 3px 30px
        &-title
          color: #212121
          font-size: 22px
          font-weight: 700
          margin: 15px 0 0
        &-subTitle
          font-size: 14px
          margin: 15px 0
          color: #212121
        &-content
          color: #757575
          line-height: 20px
          margin: 0 0 15px
        &-more
          font-size: 14px
          text-transform: uppercase
          font-weight: 600
          text-decoration: none
          color: #f12844


  &-app
    margin: 50px 0
    &-left
      @extend .dibM
      width: 50%
      &-title
        display: inline-block
        font-size: 24px
        color: #212121
        font-weight: 700
        border-bottom: 1px solid #bdbdbd
        padding: 0 0 10px
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 60px
          height: 3px
          background: #36a8ff
      &-content
        font-size: 16px
        color: #757575
        line-height: 22px
        margin: 20px 0
      &-apple,
      &-android
        -webkit-box-shadow: 0 0 15px -5px #000000
        box-shadow: 0 0 15px -5px #000000
        font-weight: 600
        font-size: 16px
        padding: 12px 52px
        border: 0
        border-radius: 3px
        &:hover
          -webkit-box-shadow: none
          box-shadow: none
        &:active
          opacity: 0.7
        i
          font-size: 28px
          margin: 0 5px 0 0
      &-apple
        color: #fff
        background: #f12844
        margin: 0 20px 0 0
      &-android
        color: #212121
        background: #00aeef


    &-right
      @extend .dibM
      width: 50%
      text-align: right


  &-footer
    &-top
      background: #f12844
      color: #fff
      font-size: 15px
      padding: 65px 0
      &-item
        text-align: center
        i
          display: block
          font-size: 35px
          margin: 0 0 10px


    &-bottom
      background: #212121
      color: #fff
      text-align: center
      padding: 50px 0
      &-social
        a
          display: inline-block
          font-size: 20px
          color: #fff
          margin: 0 15px 20px
      &-title
        color: #fff



//================================================================================

@media all and  (max-width: 1160px)
  @import 'responsive/tablet'

@media all and (max-width: 640px)
  @import 'responsive/smartphone'





