<header>
    <ul>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
        <li>ololololo</li>
    </ul>
</header>