.fabD
  .wrap
    width: 460px

  &-slider-searchBox
    &-input,
    &-select
      width: 50%
    &-btn
      width: 100%


  &-services-box-item
    width: 49%
    margin: 0 0 8px
    &_big
      width: 100%


  &-services-tabs
    &-btns-btn
      width: 50%
    &-content-checkbox
      width: 50%


  &-serviceProviders
    height: auto
    text-align: center
    padding: 20px 0
    &-title
      width: 100%
      font-size: 19px
    &-btn
      margin: 0 auto


  &-saloons-tabs-btns-btn
    width: 50%

  &-saloons-tabs-content
    &-right
      &-infoLeft,
      &-infoRight
        width: 49%
        margin: 0


  &-app
    &-left
      width: 100%
    &-right
      display: none

