.fabD
  .wrap
    width: 620px

  &-title
    margin: 30px 0 35px

  &-slider
    &-searchBox-input
      width: 56%
    &-searchBox-select
      width: 22%
    &-searchBox-btn
      width: 22%


  &-services-box-item
    width: 32%
    height: auto
    span
      font-size: 16px
    &_big
      width: 65.5%


  &-services
    &-tabs
      &-btns-btn
        width: 25%
      &-content
        padding: 10px


  &-serviceProviders-title
    font-size: 14px

  &-saloons-tabs
    &-btns-btn
      width: 206px
      height: 97px
      &_showMore
        line-height: 100px
    &-content
      padding: 20px
      &-left
        width: 100%
        padding: 0 0 15px
        border: 0
        border-bottom: 1px solid #ccc
      &-right
        width: 100%
        text-align: center
        padding: 25px 0 0
        &-infoLeft
          margin: 0 25px 0 0


  &-blog-item
    width: 100%
    margin: 0 0 30px


  &-app-left-android,
  &-app-left-apple
    width: 100%







