<!doctype html>
<html lang="en" ng-app="fabApp">
<head>
    <meta charset="UTF-8">
    <title>fab</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

    <div class="fab screen7">
        <div class="fab-header">
            <div class="wrap">
                <div class="fab-header-top">
                    <a href="#">
                        <i class="fb fb-arr-left"></i>
                    </a>

                    <span>SALON</span>

                    <div class="fab-header-top-nav">
                        <a href="#"><img src="i/searchWhite.png" alt=""/></a>
                        <a href="#"><img src="i/colb.png" alt=""/></a>
                        <a href="#"><img src="i/settings.png" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="screen7-content">
            <div class="search-content-tabs" ng-controller="tabCtrl">
                <div class="search-content-tabs-btns">
                    <div class="wrap">
                        <button ng-class="{active: isSet('services')}" ng-click="setTab('services')">hair cut (34) <span>+</span></button>
                        <button ng-class="{active: isSet('salon')}" ng-click="setTab('salon')">facial (57) <span>+</span></button>
                        <button ng-class="{active: isSet('bodycare')}" ng-click="setTab('bodycare')">bodycare (89) <span>+</span></button>
                    </div>
                </div>


            </div>
        </div>


    </div>


    <!-- bower:js -->
    <script src="bower/angular/angular.js"></script>
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->

    <script src="js/main.js"></script>
</body>
</html>