<!doctype html>
<html lang="en" ng-app="fabApp">
<head>
    <meta charset="UTF-8">
    <title>fab</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

    <div class="fab search">
        <div class="fab-header">
            <div class="wrap">
                <div class="fab-header-top">
                    <a href="#">
                        <i class="fb fb-arr-left"></i>
                    </a>

                    <span>Gurgao</span>,
                    <select>
                        <option>India</option>
                        <option>India2</option>
                        <option>India3</option>
                        <option>India4</option>
                        <option>India5</option>
                        <option>India6</option>
                    </select>
                    <i class="fb fb-angle-down"></i>
                </div>
                <div class="fab-header-search">
                    <input class="fab-header-search-input" type="text" placeholder="Search any beauty services..."/>
                    <button class="fab-header-search-btn"><i class="fb fb-search"></i></button>
                </div>
            </div>
        </div>

        <div class="search-content">
            <div class="search-content-tabs" ng-controller="tabCtrl">
                <div class="search-content-tabs-btns">
                    <div class="wrap">
                        <button ng-class="{active: isSet('services')}" ng-click="setTab('services')">Services</button>
                        <button ng-class="{active: isSet('salon')}" ng-click="setTab('salon')">salon</button>
                    </div>
                </div>


                <div class="search-content-tabs-box">
                    <div class="wrap">
                        <div fab-accordion class="search-content-tabs-box-accordion" ng-show="isSet('services')">
                            <div class="search-content-tabs-box-accordion-title">
                                <i class="fb fb-search1"></i>
                                <span>Hair Cut & Styling</span>
                                <i class="fb fb-open-accordion"></i>
                            </div>
                            <div class="search-content-tabs-box-accordion-item">
                                <ul class="search-content-tabs-box-accordion-item-ul">
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Beard Styling<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Blow Dry<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Hair Color<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Hair Massage<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Hair Cut<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Hair Styling<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>


                            <div class="search-content-tabs-box-accordion-title">
                                <i class="fb fb-search2"></i>
                                <span>Face</span>
                                <i class="fb fb-open-accordion"></i>
                            </div>
                            <div class="search-content-tabs-box-accordion-item">
                                <ul class="search-content-tabs-box-accordion-item-ul">
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Face Styling<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Face Dry<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Face Color<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Face Massage<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Face Cut<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Face Styling<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>


                            <div class="search-content-tabs-box-accordion-title">
                                <i class="fb fb-search3"></i>
                                <span>Body Care</span>
                                <i class="fb fb-open-accordion"></i>
                            </div>
                            <div class="search-content-tabs-box-accordion-item">
                                <ul class="search-content-tabs-box-accordion-item-ul">
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Body Styling<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Body Dry<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Body Color<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Body Massage<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Body Cut<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Body Styling<i class="fb fb-checked"></i> </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>


                            <div class="search-content-tabs-box-accordion-title">
                                <i class="fb fb-search4"></i>
                                <span>Fitness</span>
                                <i class="fb fb-open-accordion"></i>
                            </div>
                            <div class="search-content-tabs-box-accordion-item">
                                <ul class="search-content-tabs-box-accordion-item-ul">
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Fitness Styling<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Fitness Dry<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Fitness Color<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox" checked="checked">
                                            <span>Fitness Massage<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Fitness Cut<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                    <li class="search-content-tabs-box-accordion-item-ul-li">
                                        <label class="search-content-tabs-box-accordion-item-ul-li-label">
                                            <input type="checkbox">
                                            <span>Fitness Styling<i class="fb fb-checked"></i></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div ng-show="isSet('salon')">
                            next content
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="fab-footer">
            <div class="wrap fab-between">
                <a href="#" class="fab-footer-link"><i class="fb fb-basket"></i> <span>2</span></a>

                <button class="fab-footer-button">Find Salon</button>

                <a href="#" class="fab-footer-link"><i class="fb fb-arr-right"></i></a>
            </div>
        </div>
        
    </div>


    <!-- bower:js -->
    <script src="bower/angular/angular.js"></script>
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->

    <script src="js/min/main.min.js"></script>
</body>
</html>