* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none !important; }

img {
  vertical-align: bottom; }

ul {
  list-style-type: none; }

.loader {
  margin: 10px;
  background-color: transparent;
  border-radius: 48px;
  width: 48px;
  height: 48px;
  animation: load .5s infinite linear;
  -moz-animation: load .5s infinite linear;
  -webkit-animation: load .5s infinite linear;
  border-width: 4px;
  border-style: solid;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-left-color: white; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container:hover.ps-in-scrolling > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  border-radius: 0;
  background-color: #f12945 !important; }

.ps-container > .ps-scrollbar-x-rail {
  bottom: 0;
  opacity: 1; }

.fb {
  background-image: url(../../i/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }
  .fb-about {
    width: 3px;
    height: 28px;
    background-position: -3px -3px; }
  .fb-alpha {
    width: 26px;
    height: 29px;
    background-position: -3px -37px; }
  .fb-angle-d {
    width: 15px;
    height: 9px;
    background-position: -3px -72px; }
  .fb-angleB-r {
    width: 17px;
    height: 28px;
    background-position: -3px -87px; }
  .fb-angleW-l {
    width: 16px;
    height: 28px;
    background-position: -3px -87px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .fb-angleB-l {
    width: 17px;
    height: 28px;
    background-position: -3px -87px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .fb-angleW-r {
    width: 16px;
    height: 28px;
    background-position: -3px -121px; }
  .fb-arr-l {
    width: 40px;
    height: 32px;
    background-position: -3px -155px; }
  .fb-arr-r {
    width: 40px;
    height: 32px;
    background-position: -3px -155px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .fb-aside-item1 {
    width: 39px;
    height: 38px;
    background-position: -3px -193px; }
  .fb-aside-item10 {
    width: 30px;
    height: 28px;
    background-position: -3px -237px; }
  .fb-aside-item2 {
    width: 36px;
    height: 36px;
    background-position: -3px -271px; }
  .fb-aside-item3 {
    width: 27px;
    height: 37px;
    background-position: -3px -313px; }
  .fb-aside-item4 {
    width: 38px;
    height: 37px;
    background-position: -3px -356px; }
  .fb-aside-item5 {
    width: 34px;
    height: 34px;
    background-position: -3px -399px; }
  .fb-aside-item6 {
    width: 34px;
    height: 35px;
    background-position: -3px -439px; }
  .fb-aside-item7 {
    width: 30px;
    height: 37px;
    background-position: -3px -480px; }
  .fb-aside-item8 {
    width: 24px;
    height: 33px;
    background-position: -3px -523px; }
  .fb-aside-item9 {
    width: 29px;
    height: 39px;
    background-position: -3px -562px; }
  .fb-basket {
    width: 53px;
    height: 53px;
    background-position: -3px -607px; }
  .fb-calendar {
    width: 31px;
    height: 31px;
    background-position: -3px -666px; }
  .fb-camera {
    width: 41px;
    height: 31px;
    background-position: -3px -703px; }
  .fb-check {
    width: 31px;
    height: 20px;
    background-position: -3px -740px; }
  .fb-close {
    width: 20px;
    height: 20px;
    background-position: -3px -766px; }
  .fb-colb {
    width: 38px;
    height: 35px;
    background-position: -3px -792px; }
  .fb-distance {
    width: 32px;
    height: 44px;
    background-position: -3px -833px; }
  .fb-lock {
    width: 22px;
    height: 26px;
    background-position: -3px -883px; }
  .fb-mail {
    width: 28px;
    height: 20px;
    background-position: -3px -915px; }
  .fb-map {
    width: 65px;
    height: 55px;
    background-position: -3px -941px; }
  .fb-map-mark {
    width: 26px;
    height: 35px;
    background-position: -3px -1002px; }
  .fb-mark {
    width: 44px;
    height: 43px;
    background-position: -3px -1043px; }
  .fb-menu {
    width: 34px;
    height: 26px;
    background-position: -3px -1092px; }
  .fb-message {
    width: 31px;
    height: 30px;
    background-position: -3px -1124px; }
  .fb-minus {
    width: 28px;
    height: 28px;
    background-position: -3px -1160px; }
  .fb-minusB {
    width: 28px;
    height: 28px;
    background-position: -3px -1194px; }
  .fb-phone {
    width: 34px;
    height: 33px;
    background-position: -3px -1228px; }
  .fb-plus {
    width: 28px;
    height: 28px;
    background-position: -3px -1267px; }
  .fb-plusB {
    width: 28px;
    height: 28px;
    background-position: -3px -1301px; }
  .fb-price {
    width: 30px;
    height: 39px;
    background-position: -3px -1335px; }
  .fb-rating {
    width: 39px;
    height: 38px;
    background-position: -3px -1380px; }
  .fb-remove {
    width: 24px;
    height: 30px;
    background-position: -3px -1424px; }
  .fb-search {
    width: 35px;
    height: 34px;
    background-position: -3px -1460px; }
  .fb-searchW {
    width: 35px;
    height: 35px;
    background-position: -3px -1500px; }
  .fb-service1 {
    width: 44px;
    height: 48px;
    background-position: -3px -1541px; }
  .fb-service1-big {
    width: 71px;
    height: 77px;
    background-position: -3px -1595px; }
  .fb-service10-big {
    width: 94px;
    height: 42px;
    background-position: -3px -1678px; }
  .fb-service2 {
    width: 46px;
    height: 51px;
    background-position: -3px -1726px; }
  .fb-service2-big {
    width: 60px;
    height: 89px;
    background-position: -3px -1783px; }
  .fb-service3 {
    width: 35px;
    height: 53px;
    background-position: -3px -1878px; }
  .fb-service3-big {
    width: 110px;
    height: 64px;
    background-position: -3px -1937px; }
  .fb-service4 {
    width: 47px;
    height: 44px;
    background-position: -3px -2007px; }
  .fb-service4-big {
    width: 82px;
    height: 77px;
    background-position: -3px -2057px; }
  .fb-service5-big {
    width: 79px;
    height: 43px;
    background-position: -3px -2140px; }
  .fb-service6-big {
    width: 91px;
    height: 56px;
    background-position: -3px -2189px; }
  .fb-service7-big {
    width: 76px;
    height: 83px;
    background-position: -3px -2251px; }
  .fb-service8-big {
    width: 72px;
    height: 64px;
    background-position: -3px -2340px; }
  .fb-service9-big {
    width: 94px;
    height: 96px;
    background-position: -3px -2410px; }
  .fb-services {
    width: 27px;
    height: 28px;
    background-position: -3px -2512px; }
  .fb-settings {
    width: 29px;
    height: 35px;
    background-position: -3px -2546px; }
  .fb-share {
    width: 29px;
    height: 36px;
    background-position: -3px -2587px; }
  .fb-smile {
    width: 58px;
    height: 58px;
    background-position: -3px -2629px; }
  .fb-star {
    width: 38px;
    height: 37px;
    background-position: -3px -2693px; }
  .fb-un-smile {
    width: 65px;
    height: 65px;
    background-position: -3px -2736px; }
  .fb-user {
    width: 30px;
    height: 30px;
    background-position: -3px -2807px; }
  .fb-user-circle {
    width: 50px;
    height: 50px;
    background-position: -3px -2843px; }

html, body {
  min-height: 100%;
  height: 100%;
  min-width: 620px; }

.tac {
  text-align: center; }

.fab .wrap {
  max-width: 640px;
  min-width: 620px;
  margin: 0 auto; }

.fab .dibM, .fab .fab-header-top a, .fab-header-top .fab a, .fab .fab-header-top span, .fab-header-top .fab span, .fab .fab-header-top select, .fab-header-top .fab select, .fab .fab-header-top button, .fab-header-top .fab button, .fab .acc-title i, .fab .acc-title span, .fab .acc-content-ul-li i, .fab .acc-content-ul-li-label, .fab .fab-radio-label, .fab .screen4-content-ul-li-label span, .screen4-content-ul-li-label .fab span, .fab .screen6-content-tabs-box-acc-ul-li i, .screen6-content-tabs-box-acc-ul-li .fab i, .fab .screen6-content-tabs-box-acc-ul-li-label, .fab .screen8-content-body-acc .acc-content-label h2, .screen8-content-body-acc .acc-content-label .fab h2, .fab .screen8-footer .fab-footer-link img, .screen8-footer .fab-footer-link .fab img, .fab .screen8-footer .fab-footer-link b, .screen8-footer .fab-footer-link .fab b, .fab .screen8-footer .fab-footer-link i, .screen8-footer .fab-footer-link .fab i, .fab .screen9-footer-bottom img, .screen9-footer-bottom .fab img, .fab .screen9-footer-bottom b, .screen9-footer-bottom .fab b, .fab .screen9-footer-bottom i, .screen9-footer-bottom .fab i, .fab .screen10-footer-link, .fab .screen10-footer i, .screen10-footer .fab i {
  display: inline-block;
  vertical-align: middle; }

.fab .submit {
  border: 0;
  background: #f12945;
  padding: 14px 0;
  width: 80%;
  border-radius: 5px;
  font-size: 35px; }

.fab-lineThrough {
  display: table;
  white-space: nowrap; }
  .fab-lineThrough:before, .fab-lineThrough:after {
    border-top: 1px solid white;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  .fab-lineThrough:before {
    right: 1.5%; }
  .fab-lineThrough:after {
    left: 1.5%; }

.fab-between, .fab-around, .fab-rowCenter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fab-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.fab-rowCenter {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fab-header {
  background: #00aeef;
  padding: 25px 0 15px; }
  .fab-header-top {
    padding: 0 0 10px;
    font-size: 28px;
    color: white; }
    .fab-header-top button {
      border: 0;
      background: none; }
    .fab-header-top span {
      margin: 0 0 0 30px; }
    .fab-header-top select {
      background: none;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .fab-header-top select option {
        color: #fff;
        background: #00aeef; }
    .fab-header-top-nav-drop {
      position: relative; }
      .fab-header-top-nav-drop:hover .fab-header-top-nav-drop-box {
        visibility: visible; }
      .fab-header-top-nav-drop-box {
        visibility: hidden;
        transition: visibility 0.65s ease-in;
        position: absolute;
        right: 0;
        top: 55px;
        background: white;
        z-index: 10;
        width: 250px; }
        .fab-header-top-nav-drop-box span {
          margin: -3px 0 0;
          width: 100%;
          text-transform: uppercase;
          font-size: 20px; }
        .fab-header-top-nav-drop-box:after {
          content: '';
          position: absolute;
          right: 5px;
          top: -18px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 13px 18px 13px;
          border-color: transparent transparent #038cc2 transparent; }
        .fab-header-top-nav-drop-box-title {
          padding: 15px 0;
          background: #038cc2;
          color: #fff;
          text-align: center; }
        .fab-header-top-nav-drop-box-item {
          margin: 0 10px;
          padding: 20px 10px 20px 55px;
          color: #999999;
          border-bottom: 1px solid #999999;
          position: relative; }
          .fab-header-top-nav-drop-box-item:hover {
            color: #009fe0; }
          .fab-header-top-nav-drop-box-item i {
            position: absolute;
            left: 10px;
            top: 12px; }
          .fab-header-top-nav-drop-box-item b {
            font-weight: normal; }
  .fab-header-welcome {
    font-size: 22px;
    color: #fff;
    margin: 0 0 15px; }
  .fab-header-screen6 {
    position: relative; }
    .fab-header-screen6-input {
      width: 100%;
      border: none;
      font-size: 22px;
      padding: 17px 10px 17px 70px;
      border-radius: 5px; }
    .fab-header-screen6-btn {
      position: absolute;
      left: 20px;
      top: 15px;
      background: none;
      border: none; }

.fab-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #f12945;
  padding: 11px 0; }
  .fab-footer .wrap {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .fab-footer-link {
    position: relative; }
    .fab-footer-link span {
      position: absolute;
      right: -10px;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      color: #685913;
      background: #fff840; }
  .fab-footer-button {
    background: none;
    border: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase; }

.fab .acc-title {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  cursor: pointer; }
  .fab .acc-title.open .fb-plus {
    background-position: -3px -1160px; }
  .fab .acc-title:last-child {
    border: 0; }
  .fab .acc-title i:last-child {
    float: right;
    margin: 7px 0 0; }
  .fab .acc-title span {
    font-size: 26px;
    margin: 0 0 0 30px; }
  .fab .acc-title-title:last-child {
    border-bottom: 0; }

.fab .acc-content {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear; }
  .fab .acc-content.open {
    height: inherit;
    overflow: inherit; }
  .fab .acc-content-ul-li {
    margin: 0 0 0 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
    .fab .acc-content-ul-li:last-child {
      border: 0; }
    .fab .acc-content-ul-li i:last-child {
      float: right;
      margin: 7px 0 0; }
    .fab .acc-content-ul-li-label {
      width: 100%;
      font-size: 26px;
      padding: 15px 0;
      cursor: pointer; }
      .fab .acc-content-ul-li-label span {
        width: 100%; }
      .fab .acc-content-ul-li-label [type="checkbox"] {
        display: none; }
      .fab .acc-content-ul-li-label [type="checkbox"] + span i {
        float: right;
        position: relative;
        display: none; }
      .fab .acc-content-ul-li-label [type="checkbox"]:checked + span {
        color: #8fc02f; }
      .fab .acc-content-ul-li-label [type="checkbox"]:checked + span i {
        display: block;
        color: #8fc02f; }

.fab-checkbox-input {
  display: none; }
  .fab-checkbox-input:checked + .fab-checkbox-box {
    background: #00adef;
    border-color: transparent; }
    .fab-checkbox-input:checked + .fab-checkbox-box:after {
      display: inline-block; }

.fab-checkbox-box {
  width: 29px;
  height: 29px;
  background: #00adef;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #b8b9b4;
  background: none; }
  .fab-checkbox-box:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin: 1px auto; }

.fab-radio-input {
  display: none; }
  .fab-radio-input:checked + .fab-radio-label {
    border: 2px solid #8fc030; }
    .fab-radio-input:checked + .fab-radio-label:after {
      display: block; }

.fab-radio-label {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid #a2a2a2;
  position: relative;
  margin: 0; }
  .fab-radio-label:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 84%;
    height: 81%;
    margin: auto;
    border-radius: 50%;
    background: #8fc030; }

.fab-scroll {
  white-space: nowrap;
  position: relative;
  overflow: hidden; }

.signIn {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%; }
  .signIn-content {
    text-align: center;
    color: #fff;
    margin: 0 auto; }
    .signIn-content-fbBtn {
      margin: 125px 0 20px;
      background: #2963b4;
      display: inline-block;
      width: 100%;
      line-height: 80px;
      font-size: 30px;
      border-radius: 5px;
      overflow: hidden; }
      .signIn-content-fbBtn:before {
        content: 'f';
        float: left;
        background: #4269ce;
        padding: 0 30px;
        font-size: 35px;
        font-weight: bold; }
    .signIn-content .fab-lineThrough {
      font-size: 16px;
      margin: 30px 0; }
    .signIn-content-box {
      text-align: left;
      margin: 70px 0 0; }
      .signIn-content-box .signIn-content-box-input {
        margin: 40px 0 0;
        position: relative; }
        .signIn-content-box .signIn-content-box-input i {
          position: absolute;
          left: 0;
          top: 10px; }
        .signIn-content-box .signIn-content-box-input input {
          background: none;
          font-size: 25px;
          border: 0;
          border-bottom: 1px solid white;
          width: 100%;
          padding: 10px 10px 10px 40px; }
    .signIn-content .submit {
      margin: 50px 0 88px; }
  .signIn .forgot-footer {
    background: rgba(255, 255, 255, 0.17);
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    padding: 30px 0; }

.location {
  background: url(../../i/locationBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  color: #fff; }
  .location-content {
    text-align: center;
    padding: 60px 0 0; }
    .location-content i {
      margin: 0 auto; }
    .location-content h2 {
      font-size: 50px; }
    .location-content h3 {
      margin: 20px 0 40px;
      font-size: 25px; }
    .location-content a {
      color: #fff;
      margin: 0 0 40px;
      display: inline-block; }
      .location-content a:hover {
        text-decoration: none; }
    .location-content .fab-header-screen6 {
      margin: 0 0 30px; }

.screen1 {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff; }
  .screen1 .logo {
    padding: 100px 0 0; }
  .screen1 h2 {
    margin: 100px 0 0; }
  .screen1 .loader {
    margin: 120px auto 0; }

.screen2 {
  background: url(../../i/searchBg.png) center center no-repeat;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff; }
  .screen2 .logo {
    padding: 100px 0 0; }
  .screen2 h2 {
    margin: 100px 0 0; }
  .screen2-btns {
    margin: 100px 0 0;
    text-align: center; }
    .screen2-btns a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 25px;
      display: block;
      width: 100%;
      padding: 15px 0;
      color: #fff;
      height: 84px;
      line-height: 47px; }
    .screen2-btns-fb {
      background: #2963b4;
      margin: 0 0 3px; }
      .screen2-btns-fb span {
        text-transform: lowercase;
        font-size: 40px;
        font-weight: bold;
        margin: 0 25px 0 0; }
    .screen2-btns-sign {
      background: #f12945; }

.screen4 {
  background: #f2f2f2;
  min-height: 100%; }
  .screen4-content-title {
    margin: 30px 0;
    padding: 0 0 15px;
    border-bottom: 2px solid #009fe0;
    color: #000;
    font-weight: bold;
    font-size: 26px; }
  .screen4-content-ul-li {
    margin: 0 0 15px; }
    .screen4-content-ul-li-label span {
      margin: 0 0 0 25px;
      font-size: 25px;
      color: #a2a2a2; }
    .screen4-content-ul-li-label .fab-radio-label {
      margin: 0; }

.screen5 {
  background: url(../../i/searchBg.png) center center no-repeat fixed;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%; }
  .screen5-content {
    margin: 30px 0 0; }
    .screen5-content-item {
      width: 33%;
      margin: 0 0 20px;
      color: #fff;
      text-align: center;
      text-decoration: none; }
      .screen5-content-item-img {
        background: #f12945;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: inline-block;
        line-height: 140px; }
        .screen5-content-item-img i {
          vertical-align: middle; }
      .screen5-content-item-title {
        width: 140px;
        margin: 10px auto 0;
        font-weight: normal; }

.screen6 {
  min-height: 100%;
  height: 100%; }
  .screen6-content {
    min-height: 100%;
    height: 100%;
    color: #000; }
    .screen6-content-tabs {
      min-height: 100%;
      height: 100%; }
      .screen6-content-tabs-btns {
        font-size: 0;
        background: #f2f2f2; }
        .screen6-content-tabs-btns button {
          background: none;
          text-align: center;
          font-size: 24px;
          color: #000;
          width: 50%;
          border: none;
          padding: 25px 0;
          text-transform: uppercase;
          position: relative; }
      .screen6-content-tabs-box {
        background: url(../../i/searchBg.png) center center no-repeat fixed;
        -khtml-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height: 100%;
        padding: 0 0 78px;
        color: #fff; }
        .screen6-content-tabs-box-acc-ul-li {
          margin: 0 0 0 80px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
          .screen6-content-tabs-box-acc-ul-li:last-child {
            border: 0; }
          .screen6-content-tabs-box-acc-ul-li i:last-child {
            float: right;
            margin: 7px 0 0; }
          .screen6-content-tabs-box-acc-ul-li-label {
            width: 100%;
            font-size: 26px;
            padding: 15px 0;
            cursor: pointer; }
            .screen6-content-tabs-box-acc-ul-li-label span {
              width: 100%; }
            .screen6-content-tabs-box-acc-ul-li-label [type="checkbox"] {
              display: none; }
            .screen6-content-tabs-box-acc-ul-li-label [type="checkbox"] + span i {
              float: right;
              position: relative;
              display: none; }
            .screen6-content-tabs-box-acc-ul-li-label [type="checkbox"]:checked + span {
              color: #8fc02f; }
            .screen6-content-tabs-box-acc-ul-li-label [type="checkbox"]:checked + span i {
              display: block;
              color: #8fc02f; }

.screen7 .screen6-content-tabs-btns button {
  width: 33%;
  font-size: 20px; }
  .screen7 .screen6-content-tabs-btns button:after {
    display: none; }
  .screen7 .screen6-content-tabs-btns button span {
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: inline-block;
    font-size: 30px;
    font-family: serif; }

.screen7-content-items-item {
  background: url(../../i/searchBg.png) center center no-repeat;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid white; }
  .screen7-content-items-item-rating {
    background: #72cb31;
    display: inline-block;
    float: right;
    font-size: 24px;
    padding: 6px 23px;
    border-radius: 25px;
    color: #fff; }
  .screen7-content-items-item-title {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff; }
  .screen7-content-items-item-subTitle {
    color: #fff;
    font-weight: 100;
    margin: 10px 0 0; }
    .screen7-content-items-item-subTitle span {
      margin: 0 20px 0 0; }
  .screen7-content-items-item-btn {
    background: none;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    margin: 25px 0 20px; }
  .screen7-content-items-item-imgs {
    margin: 15px 0 40px; }
    .screen7-content-items-item-imgs-img {
      display: inline-block;
      vertical-align: top;
      border: 1px solid white;
      width: 70px;
      height: 66px;
      line-height: 66px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-size: 19px;
      overflow: hidden;
      border-radius: 5px;
      margin: 0 7px 0 0;
      font-weight: 100; }
      .screen7-content-items-item-imgs-img img {
        height: 100%;
        vertical-align: top; }
    .screen7-content-items-item-imgs-map {
      width: 90px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      border-radius: 50%;
      background: #fff; }
      .screen7-content-items-item-imgs-map i {
        vertical-align: middle; }
  .screen7-content-items-item-btns {
    margin: 20px 0 0;
    line-height: 58px; }
    .screen7-content-items-item-btns-btn {
      width: 58px;
      height: 58px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      border: 2px solid white;
      background: none;
      margin: 0 10px 0 0; }
      .screen7-content-items-item-btns-btn i {
        vertical-align: middle; }
      .screen7-content-items-item-btns-btn:hover {
        border: 2px solid transparent;
        background: #f02946; }
    .screen7-content-items-item-btns-km {
      color: #fff;
      font-size: 40px; }
      .screen7-content-items-item-btns-km span {
        font-size: 20px; }

.screen7-1 {
  background: #f2f2f2;
  min-height: 100%; }
  .screen7-1 .fab-header-top {
    text-align: center; }
    .screen7-1 .fab-header-top span {
      margin: 0; }
    .screen7-1 .fab-header-top a {
      float: left; }
  .screen7-1-content-title {
    background: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 0; }
    .screen7-1-content-title span {
      float: right; }
  .screen7-1-content-slider {
    overflow: hidden;
    padding: 30px 0; }
    .screen7-1-content-slider-rating {
      width: 100%;
      height: 6px;
      background: #dd1f38;
      position: relative;
      margin: 0 0 10px; }
      .screen7-1-content-slider-rating:before, .screen7-1-content-slider-rating:after {
        content: '';
        position: absolute;
        top: -7px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #dd1f38; }
      .screen7-1-content-slider-rating:before {
        left: -3px; }
      .screen7-1-content-slider-rating:after {
        right: -3px; }
    .screen7-1-content-slider-left {
      float: left; }
    .screen7-1-content-slider-right {
      float: right; }
  .screen7-1-content-stars-star {
    width: 20%;
    text-align: center;
    padding: 20px 0; }
    .screen7-1-content-stars-star span {
      margin: 15px 0 0;
      font-size: 25px;
      display: block; }
  .screen7-1-content-next {
    padding: 0 0 80px; }
    .screen7-1-content-next-link {
      color: #474747;
      text-decoration: none;
      border-bottom: 1px solid #474747;
      padding: 20px 0; }
      .screen7-1-content-next-link h2 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: normal; }
      .screen7-1-content-next-link h3 {
        font-size: 16px;
        font-weight: normal; }
      .screen7-1-content-next-link img {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .screen7-1-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 0; }
    .screen7-1-footer-leftBtn, .screen7-1-footer-rightBtn {
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      width: 50%;
      display: inline-block;
      padding: 26px 0;
      color: #fff;
      text-decoration: none; }
    .screen7-1-footer-leftBtn {
      background: #f12945; }
    .screen7-1-footer-rightBtn {
      background: #454d50; }

.screen7-3 {
  background: #f2f2f2;
  min-height: 100%; }
  .screen7-3 .fab-header-top {
    text-align: center; }
    .screen7-3 .fab-header-top span {
      margin: 0; }
    .screen7-3 .fab-header-top a {
      float: left; }
  .screen7-3-content {
    padding: 20px 0 80px; }
    .screen7-3-content-item {
      border-bottom: 1px solid #b8b9b4;
      padding: 10px 0; }
      .screen7-3-content-item span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 20px; }
      .screen7-3-content-item b {
        float: right;
        font-weight: normal; }
      .screen7-3-content-item .fab-checkbox-box {
        margin: 0; }

.screen8 {
  background: url(../../i/searchBg.png) center center no-repeat;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%; }
  .screen8 .fab-header {
    background: none; }
  .screen8-content {
    margin: 40px 0 0; }
    .screen8-content-top {
      margin: 0 0 100px;
      text-align: center; }
    .screen8-content-title {
      color: #fff;
      font-size: 35px;
      text-transform: uppercase;
      margin: 0 0 20px; }
    .screen8-content-subTitle {
      color: #fff;
      font-size: 25px;
      font-weight: normal;
      margin: 0 0 20px; }
    .screen8-content .screen7-content-items-item-rating {
      float: none;
      margin: 0 0 0 30px; }
    .screen8-content-body-btns {
      background: rgba(0, 0, 0, 0.5); }
      .screen8-content-body-btns-btn {
        width: 25%;
        display: block;
        text-align: center;
        padding: 10px 0;
        border-right: 1px solid rgba(255, 255, 255, 0.4); }
        .screen8-content-body-btns-btn:last-child {
          border: 0; }
        .screen8-content-body-btns-btn:hover .screen8-content-body-btns-btn-img {
          border: 2px solid transparent;
          background: #f02946; }
        .screen8-content-body-btns-btn-img {
          width: 58px;
          height: 58px;
          line-height: 51px;
          text-align: center;
          border-radius: 50%;
          border: 2px solid white;
          background: none;
          margin: 0 auto 10px; }
          .screen8-content-body-btns-btn-img i {
            vertical-align: middle; }
        .screen8-content-body-btns-btn-title {
          color: white;
          text-transform: uppercase; }
    .screen8-content-body-slider {
      background: #fffbf0; }
      .screen8-content-body-slider [data-scrollContent] {
        transition: all 0.2s linear; }
      .screen8-content-body-slider .wrap {
        position: relative;
        padding: 0 25px;
        white-space: nowrap;
        overflow: hidden; }
      .screen8-content-body-slider button {
        background: none;
        border: 0; }
      .screen8-content-body-slider-prev, .screen8-content-body-slider-next {
        background: #fffbf0 !important;
        box-shadow: 0 0 10px 2px #fffbf0;
        padding: 22px 10px;
        position: absolute;
        top: 0;
        z-index: 1; }
      .screen8-content-body-slider-prev {
        left: 0; }
      .screen8-content-body-slider-item {
        font-size: 20px;
        text-transform: uppercase;
        padding: 25px; }
        .screen8-content-body-slider-item:hover {
          background: #f12945;
          color: #fff; }
      .screen8-content-body-slider-next {
        right: 0; }
    .screen8-content-body-acc {
      background: #f2f2f2;
      border-top: 1px solid #bfbcb3;
      padding: 0 0 78px; }
      .screen8-content-body-acc .acc-content ul {
        padding: 0 0 10px; }
      .screen8-content-body-acc .acc-content-label {
        display: block;
        padding: 5px 0;
        cursor: pointer; }
        .screen8-content-body-acc .acc-content-label input {
          display: none; }
          .screen8-content-body-acc .acc-content-label input:checked + i {
            display: inline-block; }
        .screen8-content-body-acc .acc-content-label h2 {
          font-size: 16px;
          font-weight: normal; }
        .screen8-content-body-acc .acc-content-label span {
          margin: 0 50px;
          color: #f12945; }
        .screen8-content-body-acc .acc-content-label i {
          float: right;
          display: none; }
      .screen8-content-body-acc .acc-title {
        border: 0;
        font-size: 20px; }
        .screen8-content-body-acc .acc-title i {
          float: right;
          margin: -2px 0 0; }
        .screen8-content-body-acc .acc-title.open .fb-plusB {
          background-position: -3px -1194px; }
        .screen8-content-body-acc .acc-title i:last-child {
          margin: -2px 0 0; }
      .screen8-content-body-acc .acc-item {
        border-bottom: 1px solid #9a9a9a; }
  .screen8-footer {
    background: #00adef;
    padding: 0; }
    .screen8-footer-title {
      border-left: 1px solid white;
      padding: 0 0 0 25px;
      color: #fff; }
      .screen8-footer-title h2 {
        font-size: 23px; }
      .screen8-footer-title h3 {
        font-size: 18px;
        font-weight: normal; }
    .screen8-footer .fab-footer-link:first-child {
      background: none;
      margin: 13px 0;
      padding: 0; }
    .screen8-footer .fab-footer-link {
      background: #f12945;
      color: #fff;
      text-decoration: none;
      padding: 18px; }
      .screen8-footer .fab-footer-link b {
        margin: 0 10px;
        font-size: 30px;
        font-weight: normal; }

.screen9 {
  background: #f2f2f2;
  min-height: 100%; }
  .screen9-content {
    padding: 0 0 157px; }
    .screen9-content-item {
      border-bottom: 1px solid #afaca3;
      padding: 20px 0; }
      .screen9-content-item-left {
        width: 60%; }
        .screen9-content-item-left h2 {
          font-weight: normal;
          font-size: 20px; }
        .screen9-content-item-left h3 {
          font-weight: normal;
          font-size: 18px;
          color: #949494; }
      .screen9-content-item-middle {
        width: 30%;
        font-size: 20px; }
      .screen9-content-item-right {
        width: 10%;
        background: none;
        border: 0; }
        .screen9-content-item-right span {
          text-align: center;
          width: 52px;
          height: 52px;
          line-height: 44px;
          border-radius: 50%;
          border: 2px solid #797671;
          display: inline-block; }
          .screen9-content-item-right span:hover {
            border: 2px solid rgba(255, 0, 0, 0.71); }
          .screen9-content-item-right span i {
            vertical-align: middle; }
  .screen9-footer {
    background: none;
    padding: 0; }
    .screen9-footer-top {
      background: rgba(0, 0, 0, 0.71);
      color: #fff;
      padding: 30px 0; }
    .screen9-footer-bottom {
      background: #f12945;
      color: #fff;
      text-decoration: none;
      padding: 18px; }
      .screen9-footer-bottom b {
        margin: 0 10px;
        font-size: 30px;
        font-weight: normal; }

.screen10 {
  background: #fff;
  min-height: 100%; }
  .screen10-content-calendar-month {
    background: #0d4d66; }
    .screen10-content-calendar-month-prev, .screen10-content-calendar-month-next {
      border: none;
      background: none; }
    .screen10-content-calendar-month-title {
      font-size: 25px;
      color: #fff;
      padding: 20px 0; }
  .screen10-content-calendar-table {
    width: 100%; }
    .screen10-content-calendar-table thead {
      background: #0d4d66; }
      .screen10-content-calendar-table thead th {
        color: #fff;
        text-transform: uppercase;
        padding: 15px; }
    .screen10-content-calendar-table tbody td {
      text-align: center;
      color: #aaaaaa;
      background: #fff;
      padding: 25px 15px;
      font-size: 22px;
      cursor: pointer; }
      .screen10-content-calendar-table tbody td:hover, .screen10-content-calendar-table tbody td.active {
        background: #f12945;
        color: #fff; }
  .screen10-content-title {
    background: #f2f2f2;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 35px;
    color: #585858; }
  .screen10-content-time {
    padding: 20px 20px 78px; }
    .screen10-content-time-title {
      color: #585858;
      font-size: 25px;
      font-weight: normal;
      margin: 0 0 15px; }
    .screen10-content-time-item {
      color: #585858;
      display: block;
      width: 100%;
      margin: 0 0 15px; }
      .screen10-content-time-item span {
        font-size: 18px;
        margin: 0 0 0 10px; }
      .screen10-content-time-item .fab-radio-label {
        margin: 0; }
  .screen10-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #f12945;
    text-align: center; }
    .screen10-footer-link {
      text-transform: uppercase;
      color: #fff;
      padding: 20px 0;
      font-size: 25px;
      text-decoration: none; }
    .screen10-footer i {
      margin: 0 0 0 30px; }

.screen11 {
  background: #f2f2f2;
  min-height: 100%; }
  .screen11 .fab-header-top {
    text-align: center; }
  .screen11-content-title {
    font-weight: normal;
    padding: 25px 0; }
  .screen11-content-list {
    margin: 0 0 90px;
    background: #fff;
    border: 1px solid #e0e0de;
    border-radius: 5px; }
    .screen11-content-list-item {
      padding: 21px 0;
      font-size: 22px;
      border-bottom: 1px solid #d1d0cb; }
      .screen11-content-list-item:last-child {
        border: 0; }
  .screen11-content .fb-smile {
    margin: 0 auto; }

@media all and (max-width: 640px) {
  body, html {
    min-width: 460px; }
  .fab .wrap {
    max-width: 480px;
    min-width: 460px;
    margin: 0 auto; }
  .fab-footer-button {
    font-size: 24px; }
  .fab .acc-title span {
    font-size: 20px; }
  .fab-header-top,
  .fab .screen10-content-title,
  .fab .screen10-footer-link {
    font-size: 20px; }
  .fab .screen10-content-time {
    padding: 20px 20px 64px; }
  .fab .screen5-content-item-img {
    width: 120px;
    height: 120px;
    line-height: 120px; }
  .fab .screen5-content-item-title {
    font-size: 18px;
    font-weight: normal; }
  .fab .screen6-content-tabs-box-acc-ul-li-label {
    font-size: 20px;
    padding: 10px 0; }
  .fab .screen6-content-tabs-box-acc-ul-li i:last-child {
    margin: 0; }
  .fab .screen7-1-footer-leftBtn, .fab .screen7-1-footer-rightBtn {
    font-size: 22px; }
  .fab.screen7 .screen6-content-tabs-btns button {
    font-size: 16px; }
    .fab.screen7 .screen6-content-tabs-btns button span {
      top: 17px; }
  .fab .screen7-content-items-item-title {
    font-size: 28px; }
  .fab .screen8-footer-title {
    padding: 0 0 0 10px; }
  .fab .screen8-footer .fab-footer-link:last-child {
    padding: 18px 5px; }
    .fab .screen8-footer .fab-footer-link:last-child b {
      font-size: 20px; }
  .fab .screen9-footer-top {
    padding: 15px 0; }
  .fab .screen9-footer-bottom {
    padding: 10px; }
    .fab .screen9-footer-bottom b {
      font-size: 24px; }
  .fab .fab-lineThrough:after, .fab .fab-lineThrough:before {
    width: 39%; } }
