* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none !important; }

ul {
  list-style-type: none; }

.fb {
  background-image: url(../../i/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.fb-angle-down {
  width: 15px;
  height: 9px;
  background-position: -5px -5px; }

.fb-arr-left {
  width: 40px;
  height: 31px;
  background-position: -30px -5px; }

.fb-arr-right {
  width: 41px;
  height: 32px;
  background-position: -80px -5px; }

.fb-search {
  width: 35px;
  height: 34px;
  background-position: -5px -47px; }

.fb-search1 {
  width: 44px;
  height: 48px;
  background-position: -50px -47px; }

.fb-search2 {
  width: 46px;
  height: 51px;
  background-position: -104px -47px; }

.fb-search3 {
  width: 35px;
  height: 53px;
  background-position: -160px -5px; }

.fb-search4 {
  width: 47px;
  height: 44px;
  background-position: -5px -108px; }

.fb-basket {
  width: 53px;
  height: 53px;
  background-position: -62px -108px; }

.fb-open-accordion {
  width: 28px;
  height: 28px;
  background-position: -160px -68px; }

.fb-close-accordion {
  width: 28px;
  height: 28px;
  background-position: -160px -106px; }

.fb-checked {
  width: 31px;
  height: 20px;
  background-position: -125px -144px; }

html, body {
  min-height: 100%;
  height: 100%; }

.fab .wrap {
  width: 94%;
  max-width: 640px;
  margin: 0 auto; }

.fab .dibM, .fab .fab-header-top a, .fab-header-top .fab a, .fab .fab-header-top span, .fab-header-top .fab span, .fab .fab-header-top select, .fab-header-top .fab select, .fab .search-content-tabs-box-accordion-title i, .search-content-tabs-box-accordion-title .fab i, .fab .search-content-tabs-box-accordion-title span, .search-content-tabs-box-accordion-title .fab span, .fab .search-content-tabs-box-accordion-item-ul-li i, .search-content-tabs-box-accordion-item-ul-li .fab i, .fab .search-content-tabs-box-accordion-item-ul-li-label {
  display: inline-block;
  vertical-align: middle; }

.fab-between {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fab-header {
  background: #00aeef;
  padding: 25px 0 15px; }
  .fab-header-top {
    padding: 0 0 20px;
    font-size: 28px;
    color: white; }
    .fab-header-top span {
      margin: 0 0 0 30px; }
    .fab-header-top select {
      background: none;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .fab-header-top select option {
        color: #fff;
        background: #00aeef; }
  .fab-header-search {
    position: relative; }
    .fab-header-search-input {
      width: 100%;
      border: none;
      font-size: 22px;
      padding: 17px 10px 17px 70px;
      border-radius: 5px; }
    .fab-header-search-btn {
      position: absolute;
      left: 20px;
      top: 15px;
      background: none;
      border: none; }

.fab-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #f12945;
  padding: 11px 0; }
  .fab-footer .wrap {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .fab-footer-link {
    position: relative; }
    .fab-footer-link span {
      position: absolute;
      right: -10px;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      color: #685913;
      background: #fff840; }
  .fab-footer-button {
    background: none;
    border: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase; }

.search {
  min-height: 100%;
  height: 100%; }
  .search-content {
    min-height: 100%;
    height: 100%;
    color: #000; }
    .search-content-tabs {
      min-height: 100%;
      height: 100%; }
      .search-content-tabs-btns {
        font-size: 0;
        background: #f2f2f2; }
        .search-content-tabs-btns button {
          background: none;
          text-align: center;
          font-size: 24px;
          color: #000;
          width: 50%;
          border: none;
          border-bottom: 8px solid transparent;
          padding: 25px 0;
          text-transform: uppercase;
          position: relative; }
          .search-content-tabs-btns button.active {
            border-bottom: 8px solid #f12945; }
          .search-content-tabs-btns button:first-child:after {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 88%;
            margin: 2.2% 0 0;
            width: 1px;
            background: #747474;
            content: ''; }
      .search-content-tabs-box {
        background: url(../../i/searchBg.png) center center no-repeat fixed;
        -khtml-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height: 100%;
        padding: 0 0 78px;
        color: #fff; }
        .search-content-tabs-box-accordion-title {
          padding: 20px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          cursor: pointer; }
          .search-content-tabs-box-accordion-title:last-child {
            border: 0; }
          .search-content-tabs-box-accordion-title i:last-child {
            float: right;
            margin: 7px 0 0; }
          .search-content-tabs-box-accordion-title span {
            font-size: 26px;
            margin: 0 0 0 30px; }
          .search-content-tabs-box-accordion-title-title:last-child {
            border-bottom: 0; }
        .search-content-tabs-box-accordion-item {
          display: none; }
          .search-content-tabs-box-accordion-item.open {
            display: block; }
          .search-content-tabs-box-accordion-item-ul-li {
            margin: 0 0 0 80px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
            .search-content-tabs-box-accordion-item-ul-li:last-child {
              border: 0; }
            .search-content-tabs-box-accordion-item-ul-li i:last-child {
              float: right;
              margin: 7px 0 0; }
            .search-content-tabs-box-accordion-item-ul-li-label {
              width: 100%;
              font-size: 26px;
              padding: 15px 0;
              cursor: pointer; }
              .search-content-tabs-box-accordion-item-ul-li-label span {
                width: 100%; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"] {
                display: none; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"] + span i {
                float: right;
                position: relative;
                display: none; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"]:checked + span {
                color: #8fc02f; }
              .search-content-tabs-box-accordion-item-ul-li-label [type="checkbox"]:checked + span i {
                display: block;
                color: #8fc02f; }
