*
  margin: 0
  padding: 0
  box-sizing: border-box
  &:before
    box-sizing: border-box
  &:after
    box-sizing: border-box
  &:focus
    outline: none !important


img
  vertical-align: bottom

ul
  list-style-type: none

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.loader
  margin: 10px
  background-color: transparent
  border-radius: 48px
  width: 48px
  height: 48px
  animation: load .5s infinite linear
  -moz-animation: load .5s infinite linear
  -webkit-animation: load .5s infinite linear
  border-width: 4px
  border-style: solid
  border-top-color: rgba(255, 255, 255,0)
  border-right-color: rgba(255, 255, 255,0.30)
  border-bottom-color: rgba(255, 255, 255,0.60)
  border-left-color: rgb(255, 255, 255)


@-webkit-keyframes load
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


@keyframes load
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container:hover.ps-in-scrolling > .ps-scrollbar-x-rail > .ps-scrollbar-x
  border-radius: 0
  background-color: #f12945 !important

.ps-container > .ps-scrollbar-x-rail
  bottom: 0
  opacity: 1

.modal-dialog
  width: 540px
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.fb
  background-image: url(../../i/spritesheet.png)
  background-repeat: no-repeat
  display: inline-block

  &-about
    width: 3px
    height: 28px
    background-position: -3px -3px


  &-alpha
    width: 26px
    height: 29px
    background-position: -3px -37px


  &-angle-d
    width: 15px
    height: 9px
    background-position: -3px -72px

  &-angleB-r
    width: 17px
    height: 28px
    background-position: -3px -87px

  &-angleW-l
    width: 16px
    height: 28px
    background-position: -3px -87px
    transform: rotate(180deg)

  &-angleB-l
    width: 17px
    height: 28px
    background-position: -3px -87px
    transform: rotate(180deg)

  &-angleW-r
    width: 16px
    height: 28px
    background-position: -3px -121px

  &-arr-l
    width: 40px
    height: 32px
    background-position: -3px -155px

  &-arr-r
    width: 40px
    height: 32px
    background-position: -3px -155px
    transform: rotate(180deg)

  &-aside-item1
    width: 39px
    height: 38px
    background-position: -3px -193px

  &-aside-item10
    width: 30px
    height: 28px
    background-position: -3px -237px

  &-aside-item2
    width: 36px
    height: 36px
    background-position: -3px -271px

  &-aside-item3
    width: 27px
    height: 37px
    background-position: -3px -313px

  &-aside-item4
    width: 38px
    height: 37px
    background-position: -3px -356px

  &-aside-item5
    width: 34px
    height: 34px
    background-position: -3px -399px

  &-aside-item6
    width: 34px
    height: 35px
    background-position: -3px -439px

  &-aside-item7
    width: 30px
    height: 37px
    background-position: -3px -480px

  &-aside-item8
    width: 24px
    height: 33px
    background-position: -3px -523px

  &-aside-item9
    width: 29px
    height: 39px
    background-position: -3px -562px

  &-basket
    width: 53px
    height: 53px
    background-position: -3px -607px

  &-calendar
    width: 31px
    height: 31px
    background-position: -3px -666px

  &-camera
    width: 41px
    height: 31px
    background-position: -3px -703px

  &-check
    width: 31px
    height: 20px
    background-position: -3px -740px

  &-close
    width: 20px
    height: 20px
    background-position: -3px -766px

  &-colb
    width: 38px
    height: 35px
    background-position: -3px -792px

  &-distance
    width: 32px
    height: 44px
    background-position: -3px -833px

  &-lock
    width: 22px
    height: 26px
    background-position: -3px -883px

  &-mail
    width: 28px
    height: 20px
    background-position: -3px -915px

  &-map
    width: 65px
    height: 55px
    background-position: -3px -941px

  &-map-mark
    width: 26px
    height: 35px
    background-position: -3px -1002px

  &-mark
    width: 44px
    height: 43px
    background-position: -3px -1043px

  &-menu
    width: 34px
    height: 26px
    background-position: -3px -1092px

  &-message
    width: 31px
    height: 30px
    background-position: -3px -1124px

  &-minus
    width: 28px
    height: 28px
    background-position: -3px -1160px

  &-minusB
    width: 28px
    height: 28px
    background-position: -3px -1194px

  &-phone
    width: 34px
    height: 33px
    background-position: -3px -1228px

  &-plus
    width: 28px
    height: 28px
    background-position: -3px -1267px

  &-plusB
    width: 28px
    height: 28px
    background-position: -3px -1301px

  &-price
    width: 30px
    height: 39px
    background-position: -3px -1335px

  &-rating
    width: 39px
    height: 38px
    background-position: -3px -1380px

  &-remove
    width: 24px
    height: 30px
    background-position: -3px -1424px

  &-search
    width: 35px
    height: 34px
    background-position: -3px -1460px

  &-searchW
    width: 35px
    height: 35px
    background-position: -3px -1500px

  &-service1
    width: 44px
    height: 48px
    background-position: -3px -1541px

  &-service1-big
    width: 71px
    height: 77px
    background-position: -3px -1595px

  &-service10-big
    width: 94px
    height: 42px
    background-position: -3px -1678px

  &-service2
    width: 46px
    height: 51px
    background-position: -3px -1726px

  &-service2-big
    width: 60px
    height: 89px
    background-position: -3px -1783px

  &-service3
    width: 35px
    height: 53px
    background-position: -3px -1878px

  &-service3-big
    width: 110px
    height: 64px
    background-position: -3px -1937px

  &-service4
    width: 47px
    height: 44px
    background-position: -3px -2007px

  &-service4-big
    width: 82px
    height: 77px
    background-position: -3px -2057px

  &-service5-big
    width: 79px
    height: 43px
    background-position: -3px -2140px

  &-service6-big
    width: 91px
    height: 56px
    background-position: -3px -2189px

  &-service7-big
    width: 76px
    height: 83px
    background-position: -3px -2251px

  &-service8-big
    width: 72px
    height: 64px
    background-position: -3px -2340px

  &-service9-big
    width: 94px
    height: 96px
    background-position: -3px -2410px

  &-services
    width: 27px
    height: 28px
    background-position: -3px -2512px

  &-settings
    width: 29px
    height: 35px
    background-position: -3px -2546px

  &-share
    width: 29px
    height: 36px
    background-position: -3px -2587px

  &-smile
    width: 58px
    height: 58px
    background-position: -3px -2629px

  &-star
    width: 38px
    height: 37px
    background-position: -3px -2693px

  &-un-smile
    width: 65px
    height: 65px
    background-position: -3px -2736px

  &-user
    width: 30px
    height: 30px
    background-position: -3px -2807px

  &-user-circle
    width: 50px
    height: 50px
    background-position: -3px -2843px


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

html, body
  min-height: 100%
  height: 100%
  min-width: 620px


.tac
  text-align: center

.fab
  .wrap
    max-width: 640px
    min-width: 620px
    margin: 0 auto


  .dibM
    display: inline-block
    vertical-align: middle


  .submit
    border: 0
    background: #f12945
    padding: 14px 0
    width: 80%
    border-radius: 5px
    font-size: 35px


  &-lineThrough
    display: table
    white-space: nowrap
    &:before,
    &:after
      border-top: 1px solid white
      content: ''
      display: table-cell
      position: relative
      top: 0.5em
      width: 45%
    &:before
      right: 1.5%
    &:after
      left: 1.5%


  &-between,
  &-around,
  &-rowCenter
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-justify-content: space-between
    justify-content: space-between
    -webkit-align-content: flex-start
    -ms-flex-line-pack: start
    align-content: flex-start
    -webkit-align-items: flex-start
    -ms-flex-align: start
    align-items: flex-start


  &-around
    -webkit-justify-content: space-around
    justify-content: space-around


  &-rowCenter
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center


  &-header
    background: #00aeef
    padding: 25px 0 15px
    &-top
      padding: 0 0 10px
      font-size: 28px
      color: white
      a, span, select, button
        @extend .dibM
      button
        border: 0
        background: none
      span
        margin: 0 0 0 30px
      select
        background: none
        border: none
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        option
          color: #fff
          background: #00aeef
      &-nav-drop
        position: relative
        &:hover
          .fab-header-top-nav-drop-box
            visibility: visible
        &-box
          visibility: hidden
          transition: visibility 0.65s ease-in
          position: absolute
          right: 0
          top: 55px
          background: white
          z-index: 10
          width: 250px
          span
            margin: -3px 0 0
            width: 100%
            text-transform: uppercase
            font-size: 20px
          &:after
            content: ''
            position: absolute
            right: 5px
            top: -18px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 13px 18px 13px
            border-color: transparent transparent #038cc2 transparent
          &-title
            padding: 15px 0
            background: #038cc2
            color: #fff
            text-align: center
          &-item
            margin: 0 10px
            padding: 20px 10px 20px 55px
            color: #999999
            border-bottom: 1px solid #999999
            position: relative
            &:hover
              color: #009fe0
            i
              position: absolute
              left: 10px
              top: 12px
            b
              font-weight: normal


    &-welcome
      font-size: 22px
      color: #fff
      margin: 0 0 15px


    &-screen6
      position: relative
      &-input
        width: 100%
        border: none
        font-size: 22px
        padding: 17px 10px 17px 70px
        border-radius: 5px
      &-btn
        position: absolute
        left: 20px
        top: 15px
        background: none
        border: none


  &-footer
    position: fixed
    left: 0
    bottom: 0
    right: 0
    width: 100%
    background: #f12945
    padding: 11px 0
    .wrap
      align-items: center
    &-link
      position: relative
      span
        position: absolute
        right: -10px
        top: 0
        width: 30px
        height: 30px
        line-height: 30px
        border-radius: 50%
        text-align: center
        color: #685913
        background: #fff840
    &-button
      background: none
      border: 0
      color: #fff
      font-size: 30px
      text-transform: uppercase


  .acc
    &-title
      padding: 20px 0
      border-bottom: 1px solid rgba(255, 255, 255, 0.8)
      cursor: pointer
      &.open
        .fb-plus
          background-position: -3px -1160px
      &:last-child
        border: 0
      i
        @extend .dibM
      i:last-child
        float: right
        margin: 7px 0 0
      span
        @extend .dibM
        font-size: 26px
        margin: 0 0 0 30px
      &-title:last-child
        border-bottom: 0

    &-content
      height: 0
      overflow: hidden
      transition: all 0.2s linear
      &.open
        height: inherit
        overflow: inherit
      &-ul
        &-li
          margin: 0 0 0 80px
          border-bottom: 1px solid rgba(255, 255, 255, 0.8)
          &:last-child
            border: 0
          i
            @extend .dibM
          i:last-child
            float: right
            margin: 7px 0 0
          &-label
            width: 100%
            font-size: 26px
            padding: 15px 0
            @extend .dibM
            cursor: pointer
            span
              width: 100%
            [type="checkbox"]
              display: none
            [type="checkbox"] + span i
              float: right
              position: relative
              display: none
            [type="checkbox"]:checked + span
              color: #8fc02f
            [type="checkbox"]:checked + span i
              display: block
              color: #8fc02f


  &-checkbox
    &-input
      display: none
      &:checked
        + .fab-checkbox-box
          background: #00adef
          border-color: transparent
          &:after
            display: inline-block
    &-box
      width: 29px
      height: 29px
      background: #00adef
      border-radius: 3px
      position: relative
      display: inline-block
      cursor: pointer
      border: 1px solid #b8b9b4
      background: none
      &:after
        display: none
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 10px
        height: 20px
        transform: rotate(45deg)
        border-right: 1px solid white
        border-bottom: 1px solid white
        margin: 1px auto


  &-radio
    &-input
      display: none
      &:checked
        + .fab-radio-label
          border: 2px solid #8fc030
          &:after
            display: block
    &-label
      @extend .dibM
      width: 29px
      height: 29px
      border-radius: 50%
      border: 2px solid #a2a2a2
      position: relative
      margin: 0
      &:after
        display: none
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 84%
        height: 81%
        margin: auto
        border-radius: 50%
        background: #8fc030


  &-scroll
    white-space: nowrap
    position: relative
    overflow: hidden


  &-aside
    &-header
      background: url(../../i/asideBg.png) center center no-repeat
      -webkit-background-size: cover
      -khtml-background-size: cover
      -moz-background-size: cover
      -ms-background-size: cover
      -o-background-size: cover
      background-size: cover
      height: 290px
      text-align: center
      padding: 25px 0
      &-userAva
        &-img
          width: 140px
          height: 140px
          border-radius: 50%
          border: 5px solid #e7233e
      &-userName
        font-size: 31px
        color: #fff
        margin: 20px 0 0
      &-userMail
        font-size: 24px
        color: #fff


    &-content
      &-item
        display: block
        padding: 10px 40px
        &:hover,
        &:focus
          text-decoration: none
        &:nth-child(even)
          background: #f0f0f0
        i,
        &-title
          display: inline-block
          vertical-align: middle
        i
          margin: 0 15px 0 0
        &-title
          font-size: 29px
          color: #1b1b1b




////////////////////////////////////////////////signIn//////////////////////////////////////////////////////////////////

.signIn
  background: url(../../i/searchBg.png) center center no-repeat fixed
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  min-height: 100%
  &-content
    text-align: center
    color: #fff
    margin: 0 auto
    &-fbBtn
      margin: 125px 0 20px
      background: #2963b4
      display: inline-block
      width: 100%
      line-height: 80px
      font-size: 30px
      border-radius: 5px
      overflow: hidden
      &:before
        content: 'f'
        float: left
        background: #4269ce
        padding: 0 30px
        font-size: 35px
        font-weight: bold


    .fab-lineThrough
      font-size: 16px
      margin: 30px 0


    &-box
      text-align: left
      margin: 70px 0 0
      .signIn-content-box-input
        margin: 40px 0 0
        position: relative
        i
          position: absolute
          left: 0
          top: 10px
        input
          background: none
          font-size: 25px
          border: 0
          border-bottom: 1px solid white
          width: 100%
          padding: 10px 10px 10px 40px

    .submit
      margin: 50px 0 88px


  .forgot-footer
    background: rgba(255, 255, 255, 0.17)
    color: #fff
    text-align: center
    font-size: 24px
    text-decoration: none
    padding: 30px 0



////////////////////////////////////////////////location////////////////////////////////////////////////////////////////

.location
  background: url(../../i/locationBg.png) center center no-repeat fixed
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  min-height: 100%
  color: #fff
  &-content
    text-align: center
    padding: 60px 0 0
    i
      margin: 0 auto
    h2
      font-size: 50px
    h3
      margin: 20px 0 40px
      font-size: 25px
    a
      color: #fff
      margin: 0 0 40px
      display: inline-block
      &:hover
        text-decoration: none
    .fab-header-screen6
      margin: 0 0 30px


////////////////////////////////////////////////screen1/////////////////////////////////////////////////////////////////

.screen1
  background: url(../../i/searchBg.png) center center no-repeat fixed
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  min-height: 100%
  text-align: center
  color: #fff
  .logo
    padding: 100px 0 0
  h2
    margin: 100px 0 0
  .loader
    margin: 120px auto 0


////////////////////////////////////////////////screen2/////////////////////////////////////////////////////////////////

.screen2
  background: url(../../i/searchBg.png) center center no-repeat
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  min-height: 100%
  text-align: center
  color: #fff
  .logo
    padding: 100px 0 0
  h2
    margin: 100px 0 0

  &-btns
    margin: 100px 0 0
    text-align: center
    a
      text-decoration: none
      text-transform: uppercase
      font-size: 25px
      display: block
      width: 100%
      padding: 15px 0
      color: #fff
      height: 84px
      line-height: 47px
    &-fb
      background: #2963b4
      margin: 0 0 3px
      span
        text-transform: lowercase
        font-size: 40px
        font-weight: bold
        margin: 0 25px 0 0
    &-sign
      background: #f12945


////////////////////////////////////////////////screen4/////////////////////////////////////////////////////////////////

.screen4
  background: #f2f2f2
  min-height: 100%
  &-content
    &-title
      margin: 30px 0
      padding: 0 0 15px
      border-bottom: 2px solid #009fe0
      color: #000
      font-weight: bold
      font-size: 26px
    &-ul
      &-li
        margin: 0 0 15px
        &-label
          span
            @extend .dibM
            margin: 0 0 0 25px
            font-size: 25px
            color: #a2a2a2
          .fab-radio-label
            margin: 0


////////////////////////////////////////////////screen5/////////////////////////////////////////////////////////////////

.screen5
  background: url(../../i/searchBg.png) center center no-repeat fixed
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  min-height: 100%
  &-content
    margin: 30px 0 0
    &-item
      width: 33%
      margin: 0 0 20px
      color: #fff
      text-align: center
      text-decoration: none
      &:hover,
      &:focus
        text-decoration: none
        color: #fff
      &-img
        background: #f12945
        width: 140px
        height: 140px
        border-radius: 50%
        display: inline-block
        line-height: 140px
        i
          vertical-align: middle
      &-title
        width: 140px
        margin: 10px auto 0
        font-weight: normal


////////////////////////////////////////////////search//////////////////////////////////////////////////////////////////

.screen6
  min-height: 100%
  height: 100%
  &-content
    min-height: 100%
    height: 100%
    color: #000
    &-tabs
      min-height: 100%
      height: 100%
      &-btns
        font-size: 0
        background: #f2f2f2
        button
          background: none
          text-align: center
          font-size: 24px
          color: #000
          width: 50%
          border: none
          padding: 25px 0
          text-transform: uppercase
          position: relative


      &-box
        background: url(../../i/searchBg.png) center center no-repeat fixed
        -webkit-background-size: cover
        -khtml-background-size: cover
        -moz-background-size: cover
        -ms-background-size: cover
        -o-background-size: cover
        background-size: cover
        width: 100%
        min-height: 100%
        padding: 0 0 78px
        color: #fff
        &-acc
          &-ul
            &-li
              margin: 0 0 0 80px
              border-bottom: 1px solid rgba(255, 255, 255, 0.8)
              &:last-child
                border: 0
              i
                @extend .dibM
              i:last-child
                float: right
                margin: 7px 0 0
              &-label
                width: 100%
                font-size: 26px
                padding: 15px 0
                @extend .dibM
                cursor: pointer
                span
                  width: 100%
                [type="checkbox"]
                  display: none
                [type="checkbox"] + span i
                  float: right
                  position: relative
                  display: none
                [type="checkbox"]:checked + span
                  color: #8fc02f
                [type="checkbox"]:checked + span i
                  display: block
                  color: #8fc02f


////////////////////////////////////////////////screen7/////////////////////////////////////////////////////////////////

.screen7
  .screen6-content-tabs-btns
    button
      width: 33%
      font-size: 20px
      &:after
        display: none
      span
        position: absolute
        right: 0
        top: 20px
        transform: rotate(45deg)
        display: inline-block
        font-size: 30px
        font-family: serif
        //border-bottom: 8px solid #f12945


  &-content
    &-items
      &-item
        background: url(../../i/searchBg.png) center center no-repeat
        -webkit-background-size: cover
        -khtml-background-size: cover
        -moz-background-size: cover
        -ms-background-size: cover
        -o-background-size: cover
        background-size: cover
        width: 100%
        padding: 25px 0
        border-bottom: 1px solid white
        &-rating
          background: #72cb31
          display: inline-block
          float: right
          font-size: 24px
          padding: 6px 23px
          border-radius: 25px
          color: #fff
        &-title
          font-size: 35px
          text-transform: uppercase
          color: #fff
        &-subTitle
          color: #fff
          font-weight: 100
          margin: 10px 0 0
          span
            margin: 0 20px 0 0
        &-btn
          background: none
          border: 1px solid white
          border-radius: 25px
          padding: 10px 20px
          color: #fff
          font-size: 20px
          margin: 25px 0 20px
        &-imgs
          margin: 15px 0 40px
          &-img
            display: inline-block
            vertical-align: top
            border: 1px solid white
            width: 70px
            height: 66px
            line-height: 66px
            text-align: center
            color: #fff
            text-decoration: none
            font-size: 19px
            overflow: hidden
            border-radius: 5px
            margin: 0 7px 0 0
            font-weight: 100
            img
              height: 100%
              vertical-align: top
          &-map
            width: 90px
            height: 90px
            line-height: 90px
            text-align: center
            border-radius: 50%
            background: #fff
            i
              vertical-align: middle
        &-btns
          margin: 20px 0 0
          line-height: 58px
          &-btn
            width: 58px
            height: 58px
            line-height: 50px
            text-align: center
            border-radius: 50%
            border: 2px solid white
            background: none
            margin: 0 10px 0 0
            i
              vertical-align: middle
            &:hover
              border: 2px solid transparent
              background: #f02946
          &-km
            color: #fff
            font-size: 40px
            span
              font-size: 20px


////////////////////////////////////////////////screen7-1///////////////////////////////////////////////////////////////

.screen7-1
  background: #f2f2f2
  min-height: 100%
  .fab-header-top
    text-align: center
    span
      margin: 0
    a
      float: left
  &-content
    &-title
      background: #fff
      font-size: 20px
      text-transform: uppercase
      padding: 25px 0
      span
        float: right


    &-slider
      overflow: hidden
      padding: 30px 0
      &-rating
        width: 100%
        height: 6px
        background: #dd1f38
        position: relative
        margin: 0 0 10px
        &:before,
        &:after
          content: ''
          position: absolute
          top: -7px
          width: 18px
          height: 18px
          border-radius: 50%
          background: #dd1f38
        &:before
          left: -3px
        &:after
          right: -3px
      &-left
        float: left
      &-right
        float: right


    &-stars
      &-star
        width: 20%
        text-align: center
        padding: 20px 0
        span
          margin: 15px 0 0
          font-size: 25px
          display: block


    &-next
      padding: 0 0 80px
      &-link
        color: #474747
        border-bottom: 1px solid #474747
        padding: 20px 0
        &:hover
          color: #474747
          text-decoration: none
        h2
          text-transform: uppercase
          font-size: 22px
          font-weight: normal
        h3
          font-size: 16px
          font-weight: normal
        img
          transform: rotate(180deg)






  &-footer
    position: fixed
    left: 0
    bottom: 0
    right: 0
    width: 100%
    font-size: 0
    &-leftBtn,
    &-rightBtn
      font-size: 25px
      text-transform: uppercase
      text-align: center
      width: 50%
      display: inline-block
      padding: 26px 0
      color: #fff
      &:hover
        color: #fff
        text-decoration: none
    &-leftBtn
      background: #f12945
    &-rightBtn
      background: #454d50


////////////////////////////////////////////////screen7-1///////////////////////////////////////////////////////////////

.screen7-3
  background: #f2f2f2
  min-height: 100%
  .fab-header-top
    text-align: center
    span
      margin: 0
    a
      float: left
  &-content
    padding: 20px 0 80px
    &-item
      border-bottom: 1px solid #b8b9b4
      padding: 10px 0
      span
        display: inline-block
        vertical-align: middle
        margin: 0 0 0 20px
      b
        float: right
        font-weight: normal
      .fab-checkbox-box
        margin: 0


////////////////////////////////////////////////screen8/////////////////////////////////////////////////////////////////

.screen8
  background: url(../../i/searchBg.png) center center no-repeat
  -webkit-background-size: cover
  -khtml-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  .fab-header
    background: none


  &-content
    margin: 40px 0 0
    &-top
      margin: 0 0 100px
      text-align: center
    &-title
      color: #fff
      font-size: 35px
      text-transform: uppercase
      margin: 0 0 20px
    &-subTitle
      color: #fff
      font-size: 25px
      font-weight: normal
      margin: 0 0 20px
    .screen7-content-items-item-rating
      float: none
      margin: 0 0 0 30px

    &-body
      &-btns
        background: rgba(0, 0, 0, 0.5)
        &-btn
          width: 25%
          display: block
          text-align: center
          padding: 10px 0
          border-right: 1px solid rgba(255, 255, 255, 0.4)
          &:last-child
            border: 0
          &:hover
            .screen8-content-body-btns-btn-img
              border: 2px solid transparent
              background: #f02946
          &-img
            width: 58px
            height: 58px
            line-height: 51px
            text-align: center
            border-radius: 50%
            border: 2px solid white
            background: none
            margin: 0 auto 10px
            i
              vertical-align: middle
          &-title
            color: white
            text-transform: uppercase


      &-slider
        background: #fffbf0
        [data-scrollContent]
          transition: all 0.2s linear
        .wrap
          position: relative
          padding: 0 25px
          white-space: nowrap
          overflow: hidden
        button
          background: none
          border: 0
        &-prev,
        &-next
          background: #fffbf0 !important
          box-shadow: 0 0 10px 2px #fffbf0
          padding: 22px 10px
          position: absolute
          top: 0
          z-index: 1
        &-prev
          left: 0
        &-item
          font-size: 20px
          text-transform: uppercase
          padding: 25px
          &:hover
            background: #f12945
            color: #fff
        &-next
          right: 0


      &-acc
        background: #f2f2f2
        border-top: 1px solid #bfbcb3
        padding: 0 0 78px
        .acc-content
          ul
            padding: 0 0 10px
          &-label
            display: block
            padding: 5px 0
            cursor: pointer
            input
              display: none
              &:checked
                + i
                  display: inline-block
            h2
              @extend .dibM
              font-size: 16px
              font-weight: normal
            span
              margin: 0 50px
              color: #f12945
            i
              float: right
              display: none
        .acc-title
          border: 0
          font-size: 20px
          i
            float: right
            margin: -2px 0 0
          &.open
            .fb-plusB
              background-position: -3px -1194px

          i:last-child
            margin: -2px 0 0
        .acc-item
          border-bottom: 1px solid #9a9a9a


  &-footer
    background: #00adef
    padding: 0
    &-title
      border-left: 1px solid white
      padding: 0 0 0 25px
      color: #fff
      h2
        font-size: 23px
        margin: 0
      h3
        margin: 0
        font-size: 18px
        font-weight: normal
    .fab-footer-link:first-child
      background: none
      margin: 13px 0
      padding: 0
    .fab-footer-link
      background: #f12945
      color: #fff
      text-decoration: none
      padding: 18px
      img, b, i
        @extend .dibM
      b
        margin: 0 10px
        font-size: 30px
        font-weight: normal


////////////////////////////////////////////////screen9/////////////////////////////////////////////////////////////////

.screen9
  background: #f2f2f2
  min-height: 100%
  &-content
    padding: 0 0 157px
    &-item
      border-bottom: 1px solid #afaca3
      padding: 20px 0
      &-left
        width: 60%
        h2
          font-weight: normal
          font-size: 20px
        h3
          font-weight: normal
          font-size: 18px
          color: #949494
      &-middle
        width: 30%
        font-size: 20px
      &-right
        width: 10%
        background: none
        border: 0
        span
          text-align: center
          width: 52px
          height: 52px
          line-height: 44px
          border-radius: 50%
          border: 2px solid #797671
          display: inline-block
          &:hover
            border: 2px solid rgba(255, 0, 0, 0.71)
          i
            vertical-align: middle


  &-footer
    background: none
    padding: 0
    &-top
      background: rgba(0, 0, 0, 0.71)
      color: #fff
      padding: 30px 0
    &-bottom
      background: #f12945
      color: #fff
      text-decoration: none
      padding: 18px
      img, b, i
        @extend .dibM
      b
        margin: 0 10px
        font-size: 30px
        font-weight: normal


////////////////////////////////////////////////screen10////////////////////////////////////////////////////////////////

.screen10
  background: #fff
  min-height: 100%
  &-content
    &-calendar
      &-month
        background: #0d4d66
        &-prev,
        &-next
          border: none
          background: none
        &-title
          font-size: 25px
          color: #fff
          padding: 20px 0
      &-table
        width: 100%
        thead
          background: #0d4d66
          th
            color: #fff
            text-transform: uppercase
            padding: 15px
        tbody
          td
            text-align: center
            color: #aaaaaa
            background: #fff
            padding: 25px 15px
            font-size: 22px
            cursor: pointer
            &:hover,
            &.active
              background: #f12945
              color: #fff


    &-title
      background: #f2f2f2
      text-align: center
      font-size: 24px
      text-transform: uppercase
      padding: 35px
      color: #585858


    &-time
      padding: 20px 20px 78px
      &-title
        color: #585858
        font-size: 25px
        font-weight: normal
        margin: 0 0 15px
      &-item
        color: #585858
        display: block
        width: 100%
        margin: 0 0 15px
        span
          font-size: 18px
          margin: 0 0 0 10px
        .fab-radio-label
          margin: 0


  &-footer
    position: fixed
    left: 0
    bottom: 0
    right: 0
    width: 100%
    background: #f12945
    text-align: center
    &-link
      @extend .dibM
      text-transform: uppercase
      color: #fff
      padding: 20px 0
      font-size: 25px
      text-decoration: none
    i
      @extend .dibM
      margin: 0 0 0 30px


////////////////////////////////////////////////screen11////////////////////////////////////////////////////////////////

.screen11
  background: #f2f2f2
  min-height: 100%
  .fab-header-top
    text-align: center

  &-content
    &-title
      font-weight: normal
      padding: 25px 0
    &-list
      margin: 0 0 90px
      background: #fff
      border: 1px solid #e0e0de
      border-radius: 5px
      &-item
        padding: 21px 0
        font-size: 22px
        border-bottom: 1px solid #d1d0cb
        &:last-child
          border: 0
    .fb-smile
      margin: 0 auto


////////////////////////////////////////////////booking/////////////////////////////////////////////////////////////////

.booking
  min-height: 100%
  background: #f2f2f2
  &-content
    &-item
      margin: 10px 10px 0
      padding: 10px 10px 0
      background: #fff
      &-title
        color: #7f7f7f
        font-size: 22px
        text-decoration: none
        border-bottom: 2px solid #f2f2f2
        text-transform: uppercase
        span
          color: #5db013

      &-box
        padding: 20px 0
        &-left
          width: 25%
          &-img img
            width: 125px
            height: 125px
            border-radius: 50%



        &-right
          width: 75%
          &-title
            font-size: 27px
            text-transform: uppercase
          &-subTitle
            font-size: 18px
            margin: 0 0 10px

          &-first
            width: 60%
            padding: 0 20px 0 0
            &-title
              font-size: 21px
              color: #00a0df
            &-subTitle
              font-size: 18px
              margin: 0 0 10px
            &-confirmed
              border-radius: 5px
              display: inline-block
              background: #60d443
              color: #fff
              padding: 3px 10px

          &-second
            width: 40%
            padding: 0 0 0 20px
            border-left: 2px solid #f2f2f2
            &-title
              font-size: 21px
              color: #00a0df
            &-subTitle
              font-size: 18px
              font-weight: bold

      &-footer
        border-top: 2px solid #f2f2f2
        &-cancel,
        &-calendar
          width: 50%
          background: none
          border: none
          padding: 10px 0 15px
          i,
          span
            display: inline-block
            vertical-align: middle
          i
            margin: 0 10px 0 0
        &-cancel
          border-right: 2px solid #f2f2f2
          color: #7e7e7e
          font-size: 22px
        &-calendar
          font-size: 22px
          color: #f12945


////////////////////////////////////////////////profile/////////////////////////////////////////////////////////////////

.profile
  background: #e2e2e2
  &-content
    &-header
      background: url(../../i/asideBg.png) center center no-repeat
      -webkit-background-size: cover
      -khtml-background-size: cover
      -moz-background-size: cover
      -ms-background-size: cover
      -o-background-size: cover
      background-size: cover
      height: 290px
      text-align: center
      padding: 45px 0
      &-userAva
        &-img
          width: 140px
          height: 140px
          border-radius: 50%
          border: 5px solid #e7233e
      &-userName
        font-size: 31px
        color: #fff
        margin: 20px 0 0


    &-table
      width: 100%
      tr
        border-bottom: 1px solid #fff
        td
          color: #1b1b1b
          font-size: 26px
          padding: 20px
          &:first-child
            width: 190px
            background: #cacaca


////////////////////////////////////////////////aboutUs/////////////////////////////////////////////////////////////////

.aboutUs
  background: #e2e2e2
  &-content
    padding: 0 0 88px
    &-item
      background: #fff
      padding: 10px
      margin: 10px 0 0
      border-radius: 5px
      &-title
        text-transform: uppercase
        font-size: 28px
        color: #141414
        margin: 0 0 10px
      &-imgs
        &-img
          display: inline-block
          vertical-align: top
          border: 1px solid #f0f0f0
          width: 70px
          height: 66px
          line-height: 66px
          text-align: center
          color: #b0afaf
          text-decoration: none
          font-size: 19px
          overflow: hidden
          border-radius: 5px
          margin: 0 7px 0 0
          font-weight: 700
          background: #f0f0f0
          &:hover,
          &:focus
            color: #b0afaf
            text-decoration: none
          img
            height: 100%
            vertical-align: top
          i
            margin: 15px 0 0


      &-hours
        &-list
          &-item
            label
              font-weight: 100
              font-size: 24px
              color: #898888
              span
                font-size: 15px
                display: inline-block
                text-align: center
                width: 43px
                text-transform: uppercase
                color: #fff
                background: #f12945
                padding: 3px 0
                border-radius: 5px
                margin: 3px 10px 0 0
                vertical-align: top


        &-open
          background: #96d026
          border-radius: 5px
          text-transform: uppercase
          font-size: 24px
          color: #fff
          text-align: center
          line-height: 24px
          padding: 26px 23px


      &-text
        color: #5b5b5b
        font-size: 20px


      &-amenities
        label
          display: block
          color: #5b5b5b
          font-size: 20px
          font-weight: normal
          cursor: pointer
          span
            display: inline-block
            vertical-align: middle


////////////////////////////////////////////////reviews/////////////////////////////////////////////////////////////////

.reviews
  background: #f2f2f2
  &-content
    background: #fff
    margin: 10px 0 0
    padding: 10px
    border-radius: 5px
    &-title
      text-transform: uppercase
      font-size: 28px
      color: #141414
      margin: 0 0 10px

    &-item
      margin: 25px 0 0
      &-img
        width: 11%
        img
          width: 65px
          height: 65px
          border-radius: 50%

      &-box
        width: 87%
        &-title
          font-size: 22px
          color: #141414
          margin: 0 0 10px
          text-transform: uppercase
          font-weight: bold
        &-text
          color: #6c6c6c
          font-size: 20px
          &-rated
            font-weight: bold
            i
              border-radius: 5px
              font-style: normal
              font-weight: normal
              padding: 3px 6px
              background: #6bd033
              color: #fff


////////////////////////////////////////////////terms///////////////////////////////////////////////////////////////////

.terms
  &-content
    &-text
      margin: 25px 0 0
      color: #6d6d6d
      font-size: 18px
      h2
        font-size: 22px
        margin: 20px 0


////////////////////////////////////////////////feedback////////////////////////////////////////////////////////////////

.feedback
  background: #f2f2f2
  &-content
    padding: 20px 0
    &-title
      font-size: 24px
      color: #171717
      border-bottom: 2px solid #00a0df
      margin: 0 0 10px
      font-weight: bold
      text-transform: uppercase
    &-item
      background: #fff
      margin: 0 0 15px
      border-radius: 5px
      padding: 10px
      &-title
        font-size: 28px
        color: #6e6c66
      &-subTitle
        font-size: 18px
        color: #6e6c66
      &-stars
        i
          margin: 0 5px 0 0
    &-textarea,
    &-input
      border-radius: 5px
      padding: 10px
      border: none
      background: #fff
      width: 100%
      margin: 0 0 10px
    &-textarea
      font-size: 24px
      color: #272727
      resize: vertical
      min-height: 200px
    &-submit
      display: block
      font-size: 24px
      border-radius: 5px
      width: 80%
      margin: 0 auto
      border: 0
      padding: 10px 0
      text-transform: uppercase
      color: #fff
      background: #f12945




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////MEDIA///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "media.sass"


























