@media all and (max-width: 640px)
  body, html
    min-width: 460px

  .modal-dialog
    width: 400px

  .fab
    .wrap
      max-width: 480px
      min-width: 460px
      margin: 0 auto


    &-footer-button
      font-size: 24px

    .acc-title span
      font-size: 20px

    &-header-top,
    .screen10-content-title,
    .screen10-footer-link
      font-size: 20px

    .screen10-content-time
      padding: 20px 20px 64px

    .screen5-content-item-img
      width: 120px
      height: 120px
      line-height: 120px


    .screen5-content-item-title
      font-size: 18px
      font-weight: normal


    .screen6-content-tabs-box-acc-ul-li-label
      font-size: 20px
      padding: 10px 0


    .screen6-content-tabs-box-acc-ul-li i:last-child
      margin: 0


    .screen7-1-footer-leftBtn, .screen7-1-footer-rightBtn
      font-size: 22px

    &.screen7
      .screen6-content-tabs-btns
        button
          font-size: 16px
          span
            top: 17px


    .screen7-content-items-item-title
      font-size: 28px


    .screen8-footer-title
      padding: 0 0 0 10px

    .screen8-footer .fab-footer-link:last-child
      padding: 18px 5px
      b
        font-size: 20px


    .screen9-footer
      &-top
        padding: 15px 0
      &-bottom
        padding: 10px

        b
          font-size: 24px


    .fab-lineThrough:after, .fab-lineThrough:before
      width: 39%

    &-aside-content-item
      padding: 10px 20px
      &-title
        font-size: 22px


    .booking-content-item
      &-title
        font-size: 16px
        padding: 0 0 5px
      &-box
        &-left-img img
          width: 90px
          height: 90px
        &-right
          &-title
            font-size: 22px
          &-subTitle
            font-size: 16px

          &-first,
          &-second
            &-subTitle
              font-size: 14px
            &-title
              font-size: 18px


      &-footer
        &-cancel,
        &-calendar
          font-size: 18px


    .profile-content-table tr td
      font-size: 20px
      padding: 10px
      &:first-child
        width: 150px


    .aboutUs-content-item
      &-imgs-img
        margin: 0 2px 0 0
      &-hours
        &-list-item
          margin: 3px 0
          label
            font-size: 18px
          span
            margin: -3px 0 0
        &-open
          font-size: 18px
          line-height: 18px
          padding: 15px
      &-title
        font-size: 20px
      &-text
        font-size: 16px

      &-amenities label
        font-size: 16px


    .reviews-content
      &-item
        &-img
          width: 15%
        &-box
          width: 85%
          &-title
            font-size: 20px
          &-text
            font-size: 16px

      &-title
        font-size: 25px























