<div class="fab-aside">
    <div class="fab-aside-header">
        <div class="fab-aside-header-userAva"><img src="i/user-ava.png" class="fab-aside-header-userAva-img" alt=""/></div>
        <div class="fab-aside-header-userName">Nishtha Agarwal</div>
        <div class="fab-aside-header-userMail">nishtha.agr@gmail.com</div>
    </div>
    
    <div class="fab-aside-content">
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item1"></i>
            <span class="fab-aside-content-item-title">My bookings</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item2"></i>
            <span class="fab-aside-content-item-title">My Profile</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item3"></i>
            <span class="fab-aside-content-item-title">Reset Password</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item4"></i>
            <span class="fab-aside-content-item-title">Reviews and Ratings</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item5"></i>
            <span class="fab-aside-content-item-title">Rate us</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item6"></i>
            <span class="fab-aside-content-item-title">Feedback</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item7"></i>
            <span class="fab-aside-content-item-title">Share it</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item8"></i>
            <span class="fab-aside-content-item-title">Privacy Policy</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item9"></i>
            <span class="fab-aside-content-item-title">Terms & Condition</span>
        </a>
        <a href="#" class="fab-aside-content-item">
            <i class="fb fb-aside-item10"></i>
            <span class="fab-aside-content-item-title">Logout</span>
        </a>
    </div>
</div>











































<!--<button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>-->