<!doctype html>
<html lang="en" ng-app="fabDApp">
<head>
    <meta charset="UTF-8">
    <title>fab-desc</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/min/main.min.css"/>
</head>
<body>

<main class="fabD">
    <header class="fabD-header">
        <div class="wrap fl-wrap-cen-between">
            <div class="fabD-header-logo"><img src="i/logo.png" alt=""/></div>
            <div class="fabD-header-menu">
                <div class="fabD-header-menu-userSelect">
                    Diana Smith <i class="fa fa-angle-down"></i>
                </div>
                <div class="fabD-header-menu-userImg"><img src="i/user.png" alt=""/></div>
            </div>
        </div>
    </header>


    <div class="fabD-slider">
        <div class="wrap">
            <div class="fabD-slider-subTitle">welcome to</div>
            <div class="fabD-slider-title">the <span>fab2u</span></div>
            <div class="fabD-slider-searchBox">
                <div class="fabD-slider-searchBox-select">
                    <select>
                        <option value="1">City</option>
                        <option value="1">City2</option>
                        <option value="1">City3</option>
                        <option value="1">City4</option>
                        <option value="1">City5</option>
                    </select>
                </div>

                <div class="fabD-slider-searchBox-input">
                    <input type="text" placeholder="Saloon Name"/>
                </div>

                <button class="fabD-slider-searchBox-btn"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>


    <div class="fabD-services">
        <div class="wrap">
            <div class="fabD-title">popular services</div>

            <div class="fabD-services-box fl-wrap-cen-between">
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies1.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies2.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies3.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies4.png" alt=""/></div>
                <div class="fabD-services-box-item fabD-services-box-item_big"><span>NAME OF SERVICE</span><img src="i/servies5.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies6.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies7.png" alt=""/></div>
                <div class="fabD-services-box-item"><span>NAME OF SERVICE</span><img src="i/servies8.png" alt=""/></div>
            </div>

            <div class="fabD-services-tabs" ng-controller="tabCtrl">
                <div class="fabD-services-tabs-btns">
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab1')}" ng-click="setTab('tab1')" >
                        <i class="fa fa-scissors"></i>
                        Hair Cut & <br/>
                        Styling
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab2')}" ng-click="setTab('tab2')" >
                        <i class="fa fa-smile-o"></i>
                        Face
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab3')}" ng-click="setTab('tab3')" >
                        <i class="fa fa-hand-paper-o"></i>
                        Hands, Feet <br/>
                        & Nails
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab4')}" ng-click="setTab('tab4')" >
                        <i class="fa fa-gg"></i>
                        Treatments
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab5')}" ng-click="setTab('tab5')" >
                        <i class="fa fa-user"></i>
                        Body Care
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab6')}" ng-click="setTab('tab6')" >
                        <i class="fa fa-child"></i>
                        Fitness
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab7')}" ng-click="setTab('tab7')" >
                        <i class="fa fa-bullseye"></i>
                        Look Special
                    </button>
                    <button class="fabD-services-tabs-btns-btn" ng-class="{active: isSet('tab8')}" ng-click="setTab('tab8')" >
                        <i class="fa fa-check-circle"></i>
                        Soul Meets <br/>
                        Mind
                    </button>
                </div>

                <div class="fabD-services-tabs-content" ng-show="isSet('tab1')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Spa</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Straightening / Perm</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Blow Dry</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Cut</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Wash</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab2')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Spa</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Straightening / Perm</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Blow Dry</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Cut</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab3')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab4')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Spa</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Straightening / Perm</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Blow Dry</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Cut</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab5')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Spa</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Straightening / Perm</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Blow Dry</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Cut</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Wash</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab6')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Spa</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Wash</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab7')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Blow Dry</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Cut</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Wash</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
                <div class="fabD-services-tabs-content" ng-show="isSet('tab8')">
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1" checked/><i class="fa fa-square-o"></i> Beard Styling</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Consulting & Massages</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Colour</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Extentions</label></div>
                    <div class="fabD-services-tabs-content-checkbox"><label><input type="checkbox" name="check1"/><i class="fa fa-square-o"></i> Hair Treatements</label></div>
                </div>
            </div>
        </div>
    </div>


    <div class="fabD-serviceProviders">
        <div class="wrap fl-wrap-cen-between">
            <button class="fabD-serviceProviders-btn"><i class="fa fa-shopping-cart"></i> (0)</button>
            <div class="fabD-serviceProviders-title">Find Out Best Deals & best service providers</div>
            <button class="fabD-serviceProviders-btn">Search</button>
        </div>
    </div>


    <div class="fabD-saloons">
        <div class="wrap">
            <div class="fabD-title">featured saloons</div>

            <div class="fabD-saloons-tabs" ng-controller="saloonsCtrl">
                <div class="fabD-saloons-tabs-btns fl-wrap-cen-between">
                    <div class="fabD-saloons-tabs-btns-btn" ng-class="{active: isSet('tab1')}" ng-click="setTab('tab1')"><img src="i/salon1.png" alt=""/></div>
                    <div class="fabD-saloons-tabs-btns-btn" ng-class="{active: isSet('tab2')}" ng-click="setTab('tab2')"><img src="i/salon2.png" alt=""/></div>
                    <div class="fabD-saloons-tabs-btns-btn" ng-class="{active: isSet('tab3')}" ng-click="setTab('tab3')"><img src="i/salon3.png" alt=""/></div>
                    <div class="fabD-saloons-tabs-btns-btn" ng-class="{active: isSet('tab4')}" ng-click="setTab('tab4')"><img src="i/salon4.png" alt=""/></div>
                    <div class="fabD-saloons-tabs-btns-btn" ng-class="{active: isSet('tab5')}" ng-click="setTab('tab5')"><img src="i/salon5.png" alt=""/></div>
                    <a href="#" class="fabD-saloons-tabs-btns-btn fabD-saloons-tabs-btns-btn_showMore">more saloons</a>
                </div>

                <div class="fabD-saloons-tabs-content fl-wrap-between" ng-show="isSet('tab1')">
                    <div class="fabD-saloons-tabs-content-left">
                        <img src="i/salon1-big.png" alt=""/>
                        <div class="fabD-saloons-tabs-content-left-title">Title of the saloon</div>
                    </div>

                    <div class="fabD-saloons-tabs-content-right fl-wrap-between">
                        <div class="fabD-saloons-tabs-content-right-infoLeft">$5000.00</div>
                        <div class="fabD-saloons-tabs-content-right-infoRight">
                            <div class="fabD-saloons-tabs-content-right-infoRight-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            4.88 reviews
                        </div>

                        <div class="fabD-saloons-tabs-content-right-text">
                            In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typnts of a document or visual presentation,
                            aspects such as font, typography,
                            <br/>
                            <a href="#" class="fabD-saloons-tabs-content-right-text-show">
                                shop now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fabD-saloons-tabs-content fl-wrap-between" ng-show="isSet('tab2')">
                    <div class="fabD-saloons-tabs-content-left">
                        <img src="i/salon1-big.png" alt=""/>
                        <div class="fabD-saloons-tabs-content-left-title">Title of the saloon</div>
                    </div>

                    <div class="fabD-saloons-tabs-content-right fl-wrap-between">
                        <div class="fabD-saloons-tabs-content-right-infoLeft">$50.00</div>
                        <div class="fabD-saloons-tabs-content-right-infoRight">
                            <div class="fabD-saloons-tabs-content-right-infoRight-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            4.88 reviews
                        </div>

                        <div class="fabD-saloons-tabs-content-right-text">
                            In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typnts of a document or visual presentation,
                            aspects such as font, typography,
                            <br/>
                            <a href="#" class="fabD-saloons-tabs-content-right-text-show">
                                shop now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fabD-saloons-tabs-content fl-wrap-between" ng-show="isSet('tab3')">
                    <div class="fabD-saloons-tabs-content-left">
                        <img src="i/salon1-big.png" alt=""/>
                        <div class="fabD-saloons-tabs-content-left-title">Title of the saloon</div>
                    </div>

                    <div class="fabD-saloons-tabs-content-right fl-wrap-between">
                        <div class="fabD-saloons-tabs-content-right-infoLeft">$5000.00</div>
                        <div class="fabD-saloons-tabs-content-right-infoRight">
                            <div class="fabD-saloons-tabs-content-right-infoRight-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            4.808 reviews
                        </div>

                        <div class="fabD-saloons-tabs-content-right-text">
                            In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typnts of a document or visual presentation,
                            aspects such as font, typography,
                            <br/>
                            <a href="#" class="fabD-saloons-tabs-content-right-text-show">
                                shop now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fabD-saloons-tabs-content fl-wrap-between" ng-show="isSet('tab4')">
                    <div class="fabD-saloons-tabs-content-left">
                        <img src="i/salon1-big.png" alt=""/>
                        <div class="fabD-saloons-tabs-content-left-title">Title of the saloon</div>
                    </div>

                    <div class="fabD-saloons-tabs-content-right fl-wrap-between">
                        <div class="fabD-saloons-tabs-content-right-infoLeft">$85000.00</div>
                        <div class="fabD-saloons-tabs-content-right-infoRight">
                            <div class="fabD-saloons-tabs-content-right-infoRight-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            4.88 reviews
                        </div>

                        <div class="fabD-saloons-tabs-content-right-text">
                            In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typnts of a document or visual presentation,
                            aspects such as font, typography,
                            <br/>
                            <a href="#" class="fabD-saloons-tabs-content-right-text-show">
                                shop now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fabD-saloons-tabs-content fl-wrap-between" ng-show="isSet('tab5')">
                    <div class="fabD-saloons-tabs-content-left">
                        <img src="i/salon1-big.png" alt=""/>
                        <div class="fabD-saloons-tabs-content-left-title">Title of the saloon</div>
                    </div>

                    <div class="fabD-saloons-tabs-content-right fl-wrap-between">
                        <div class="fabD-saloons-tabs-content-right-infoLeft">$5000.00</div>
                        <div class="fabD-saloons-tabs-content-right-infoRight">
                            <div class="fabD-saloons-tabs-content-right-infoRight-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            4.88 reviews
                        </div>

                        <div class="fabD-saloons-tabs-content-right-text">
                            In publishing and graphic design,
                            <br/>
                            <a href="#" class="fabD-saloons-tabs-content-right-text-show">
                                shop now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fabD-blog">
        <div class="wrap fl-wrap-cen-between">
            <div class="fabD-title">from the blog</div>


            <div class="fabD-blog-item">
                <div class="fabD-blog-item-img">
                    <img src="i/blog1.png" alt=""/>
                </div>

                <div class="fabD-blog-item-box">
                    <div class="fabD-blog-item-box-btn">Lifestyle</div>
                    <div class="fabD-blog-item-box-title">Title Here of the post</div>
                    <div class="fabD-blog-item-box-subTitle">
                        By Author Name
                        <span>|</span>
                        20 Feb, 2015
                    </div>
                    <div class="fabD-blog-item-box-content">
                        In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typography,
                    </div>
                    <a href="#" class="fabD-blog-item-box-more">Read more</a>
                </div>
            </div>

            <div class="fabD-blog-item">
                <div class="fabD-blog-item-img">
                    <img src="i/blog2.png" alt=""/>
                </div>

                <div class="fabD-blog-item-box">
                    <div class="fabD-blog-item-box-btn">Lifestyle</div>
                    <div class="fabD-blog-item-box-title">Title Here of the post</div>
                    <div class="fabD-blog-item-box-subTitle">
                        By Author Name
                        <span>|</span>
                        20 Feb, 2015
                    </div>
                    <div class="fabD-blog-item-box-content">
                        In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation, aspects such as font, typography,
                    </div>
                    <a href="#" class="fabD-blog-item-box-more">Read more</a>
                </div>
            </div>
        </div>
    </div>


    <div class="fabD-app">
        <div class="wrap fl-wrap-cen-between">
            <div class="fabD-app-left">
                <div class="fabD-app-left-title">fab2u app is available now</div>
                <div class="fabD-app-left-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum luctus quam at porta. In vehicula nunc et dolor sit amet, consectetur adipiscing elit. Donec eleme ntum luctus quam at porta. In vehicula nunc et elit tincidunt fermentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <button class="fabD-app-left-apple"><i class="fa fa-apple"></i> App Store</button>
                <button class="fabD-app-left-android"><i class="fa fa-android"></i> Google Play</button>
            </div>

            <div class="fabD-app-right"><img src="i/phones.png" alt=""/></div>
        </div>
    </div>


    <div class="fabD-footer">
        <div class="fabD-footer-top">
            <div class="wrap fl-wrap-cen-between">
                <div class="fabD-footer-top-item">
                    <i class="fa fa-envelope"></i>
                    Your Email Here <br/>
                    one or two
                </div>
                <div class="fabD-footer-top-item">
                    <i class="fa fa-map-marker"></i>
                    Your location adress <br/>
                    here
                </div>
                <div class="fabD-footer-top-item">
                    <i class="fa fa-phone"></i>
                    your phone numbers <br/>
                    here
                </div>
            </div>
        </div>


        <div class="fabD-footer-bottom">
            <div class="wrap">
                <div class="fabD-footer-bottom-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                </div>

                <div class="fabD-footer-bottom-title">All Rights Reserved 2015</div>
            </div>
        </div>
    </div>
</main>






<!-- bower:js -->
<script src="bower/angular/angular.js"></script>
<!-- endbower -->

<script src="js/min/main.min.js"></script>
</body>
</html>