.fl-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fl-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.fl-wrap-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fl-wrap-cen-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-baseline {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.fl-wrap-cen-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-column-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-order1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.fl-order2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.fl-order3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

.fl-order4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

.fl-order5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

.fl-order6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6; }

.fl-order7 {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7; }

.fl-order8 {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8; }

.fl-order9 {
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9; }

.fl-order10 {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10; }

.fl-flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fl-flex2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fl-flex3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fl-flex4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fl-flex5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fl-flex6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fl-flex7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fl-flex8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fl-flex9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fl-flex10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.fl-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fl-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.fl-wrap-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fl-wrap-cen-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-baseline {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.fl-wrap-cen-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-column-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-order1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.fl-order2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.fl-order3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

.fl-order4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

.fl-order5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

.fl-order6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6; }

.fl-order7 {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7; }

.fl-order8 {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8; }

.fl-order9 {
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9; }

.fl-order10 {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10; }

.fl-flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fl-flex2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fl-flex3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fl-flex4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fl-flex5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fl-flex6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fl-flex7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fl-flex8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fl-flex9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fl-flex10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  transition: all 0.2s ease; }
  *:focus {
    outline: none; }

img {
  vertical-align: bottom; }

.dibM, .fabD-header-menu-btn, .fabD-header-menu-userSelect, .fabD-header-menu-userImg, .fabD-app-left, .fabD-app-right {
  display: inline-block;
  vertical-align: middle; }

.dibT, .fabD-slider-searchBox-select, .fabD-slider-searchBox-input, .fabD-slider-searchBox-btn, .fabD-services-tabs-content-checkbox, .fabD-saloons-tabs-content-left, .fabD-saloons-tabs-content-right, .fabD-saloons-tabs-content-right-infoLeft, .fabD-saloons-tabs-content-right-infoRight, .fabD-blog-item, .fabD-blog-item-box-btn {
  display: inline-block;
  vertical-align: top; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.fabD .wrap {
  width: 1140px;
  margin: 0 auto;
  position: relative; }

.fabD-title {
  width: 100%;
  text-align: center;
  color: #212121;
  font-size: 24px;
  position: relative;
  font-weight: 700;
  margin: 70px 0 60px; }
  .fabD-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 34px;
    height: 3px;
    margin: 0 0 0 -17px;
    background: #f12844; }

.fabD-header-logo {
  padding: 13px 0; }

.fabD-header-menu-btn {
  background: none;
  border: 0;
  color: #212121;
  font-size: 18px;
  padding: 10px; }

.fabD-header-menu-userSelect {
  padding: 15px;
  font-weight: 600; }
  .fabD-header-menu-userSelect i {
    color: #f12844; }

.fabD-header-menu-userImg {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #00aeef; }

.fabD-slider {
  background: url(../../i/mainBg.png) center center no-repeat;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 140px 0 0;
  text-align: center; }
  .fabD-slider-subTitle {
    text-align: center;
    font-size: 16px;
    color: #fff; }
  .fabD-slider-title {
    text-align: center;
    font-size: 54px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 0 15px;
    margin: 0 0 25px; }
    .fabD-slider-title:after {
      content: '\f0a3';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      font: normal normal normal 14px/1 FontAwesome;
      line-height: 1px; }
    .fabD-slider-title span {
      color: #00aeef; }
  .fabD-slider-searchBox {
    font-size: 0; }
    .fabD-slider-searchBox-select, .fabD-slider-searchBox-input, .fabD-slider-searchBox-btn {
      font-size: 16px;
      border: 0; }
    .fabD-slider-searchBox-select {
      width: 15%;
      position: relative; }
      .fabD-slider-searchBox-select:before {
        content: '\f041';
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        position: absolute;
        left: 13px;
        top: 18px;
        color: #757575; }
      .fabD-slider-searchBox-select select {
        padding: 15px 15px 15px 30px;
        width: 100%;
        color: #757575;
        font-size: 18px;
        border-left: 1px solid #b2b3b4; }
    .fabD-slider-searchBox-input {
      width: 65%;
      position: relative; }
      .fabD-slider-searchBox-input:before {
        content: '\f00c';
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        position: absolute;
        left: 13px;
        top: 18px;
        color: #757575; }
      .fabD-slider-searchBox-input input {
        width: 100%;
        color: #757575;
        font-size: 18px;
        padding: 15px 15px 15px 50px;
        border-left: 1px solid #b2b3b4; }
    .fabD-slider-searchBox-btn {
      padding: 17px;
      width: 20%;
      color: #fff;
      font-size: 18px;
      background: #00aeef; }
      .fabD-slider-searchBox-btn:active {
        opacity: 0.7; }
      .fabD-slider-searchBox-btn i {
        margin: 0 15px 0 0; }

.fabD-services {
  margin: 0 0 40px; }
  .fabD-services-box {
    margin: 0 0 55px; }
    .fabD-services-box-item {
      width: 360px;
      height: 300px;
      margin: 0 0 25px;
      position: relative; }
      .fabD-services-box-item img {
        width: 100%; }
      .fabD-services-box-item span {
        position: absolute;
        top: 44%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: #fff; }
      .fabD-services-box-item_big {
        width: 750px; }
  .fabD-services-tabs-btns {
    font-size: 0;
    margin: 0 0 15px; }
    .fabD-services-tabs-btns-btn {
      vertical-align: top;
      background: #212121;
      border: 1px solid #00aeef;
      border-top: 0;
      border-bottom: 0;
      width: 12.5%;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      height: 80px;
      position: relative;
      padding: 0 0 0 45px;
      text-align: left; }
      .fabD-services-tabs-btns-btn i {
        position: absolute;
        left: 10px;
        top: 36%;
        font-size: 24px; }
      .fabD-services-tabs-btns-btn:hover, .fabD-services-tabs-btns-btn.active {
        background: #f9f9f9;
        border-color: #f9f9f9;
        color: #212121; }
  .fabD-services-tabs-content {
    border: 1px solid #cccccc;
    padding: 30px 35px;
    font-size: 0; }
    .fabD-services-tabs-content-checkbox {
      font-size: 14px;
      width: 33.33333%;
      margin: 5px 0; }
      .fabD-services-tabs-content-checkbox label {
        cursor: pointer; }
        .fabD-services-tabs-content-checkbox label input {
          display: none; }
          .fabD-services-tabs-content-checkbox label input:checked + .fa-square-o:before {
            content: "\f14a"; }
      .fabD-services-tabs-content-checkbox i {
        margin: 0 5px 0 0; }

.fabD-serviceProviders {
  background: url(../../i/middleBg.png) center center no-repeat;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 125px;
  line-height: 125px; }
  .fabD-serviceProviders-btn {
    width: 125px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    color: #00aeef;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700; }
  .fabD-serviceProviders-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700; }

.fabD-saloons-tabs-btns {
  margin: 0 0 15px; }
  .fabD-saloons-tabs-btns-btn {
    opacity: .6;
    width: 170px;
    height: 80px;
    overflow: hidden;
    cursor: pointer; }
    .fabD-saloons-tabs-btns-btn img {
      width: 100%; }
    .fabD-saloons-tabs-btns-btn_showMore {
      background: #00aeef;
      line-height: 80px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      opacity: 1;
      text-align: center;
      text-decoration: none; }
    .fabD-saloons-tabs-btns-btn:hover, .fabD-saloons-tabs-btns-btn.active {
      opacity: 1; }

.fabD-saloons-tabs-content {
  border: 1px solid #cccccc;
  padding: 60px 35px; }
  .fabD-saloons-tabs-content-left {
    width: 40%;
    padding: 0 60px 0 0;
    border-right: 1px solid #cccccc; }
    .fabD-saloons-tabs-content-left img {
      width: 100%; }
    .fabD-saloons-tabs-content-left-title {
      color: #212121;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin: 15px 0 0; }
  .fabD-saloons-tabs-content-right {
    width: 60%;
    text-align: center;
    padding: 0 0 0 60px; }
    .fabD-saloons-tabs-content-right-infoLeft, .fabD-saloons-tabs-content-right-infoRight {
      border: 1px solid #cccccc;
      width: 270px;
      height: 95px;
      padding: 30px 0 0;
      text-align: center; }
    .fabD-saloons-tabs-content-right-infoLeft {
      font-size: 24px;
      color: #212121;
      font-weight: 700;
      margin: 0 35px 0 0; }
    .fabD-saloons-tabs-content-right-infoRight {
      color: #999999; }
      .fabD-saloons-tabs-content-right-infoRight-stars {
        font-size: 24px;
        color: #f12844; }
    .fabD-saloons-tabs-content-right-text {
      width: 100%;
      margin: 40px 0 0;
      color: #212121;
      line-height: 24px; }
      .fabD-saloons-tabs-content-right-text-show {
        border-top: 2px solid #00aeef;
        color: #00aeef;
        font-size: 18px;
        text-decoration: none;
        margin: 35px 0 0;
        display: inline-block;
        text-transform: uppercase; }

.fabD-blog-item {
  width: 48%; }
  .fabD-blog-item-img img {
    width: 100%; }
  .fabD-blog-item-box {
    box-shadow: 0 2px 10px -1px #000;
    padding: 25px 35px; }
    .fabD-blog-item-box-btn {
      color: #00aeef;
      border: 1px solid #00aeef;
      font-size: 12px;
      padding: 3px 30px; }
    .fabD-blog-item-box-title {
      color: #212121;
      font-size: 22px;
      font-weight: 700;
      margin: 15px 0 0; }
    .fabD-blog-item-box-subTitle {
      font-size: 14px;
      margin: 15px 0;
      color: #212121; }
    .fabD-blog-item-box-content {
      color: #757575;
      line-height: 20px;
      margin: 0 0 15px; }
    .fabD-blog-item-box-more {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      color: #f12844; }

.fabD-app {
  margin: 50px 0; }
  .fabD-app-left {
    width: 50%; }
    .fabD-app-left-title {
      display: inline-block;
      font-size: 24px;
      color: #212121;
      font-weight: 700;
      border-bottom: 1px solid #bdbdbd;
      padding: 0 0 10px;
      position: relative; }
      .fabD-app-left-title:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 3px;
        background: #36a8ff; }
    .fabD-app-left-content {
      font-size: 16px;
      color: #757575;
      line-height: 22px;
      margin: 20px 0; }
    .fabD-app-left-apple, .fabD-app-left-android {
      box-shadow: 0 0 15px -5px #000000;
      font-weight: 600;
      font-size: 16px;
      padding: 12px 52px;
      border: 0;
      border-radius: 3px; }
      .fabD-app-left-apple:hover, .fabD-app-left-android:hover {
        box-shadow: none; }
      .fabD-app-left-apple:active, .fabD-app-left-android:active {
        opacity: 0.7; }
      .fabD-app-left-apple i, .fabD-app-left-android i {
        font-size: 28px;
        margin: 0 5px 0 0; }
    .fabD-app-left-apple {
      color: #fff;
      background: #f12844;
      margin: 0 20px 0 0; }
    .fabD-app-left-android {
      color: #212121;
      background: #00aeef; }
  .fabD-app-right {
    width: 50%;
    text-align: right; }

.fabD-footer-top {
  background: #f12844;
  color: #fff;
  font-size: 15px;
  padding: 65px 0; }
  .fabD-footer-top-item {
    text-align: center; }
    .fabD-footer-top-item i {
      display: block;
      font-size: 35px;
      margin: 0 0 10px; }

.fabD-footer-bottom {
  background: #212121;
  color: #fff;
  text-align: center;
  padding: 50px 0; }
  .fabD-footer-bottom-social a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin: 0 15px 20px; }
  .fabD-footer-bottom-title {
    color: #fff; }

@media all and (max-width: 1160px) {
  .fabD .wrap {
    width: 620px; }
  .fabD-title {
    margin: 30px 0 35px; }
  .fabD-slider-searchBox-input {
    width: 56%; }
  .fabD-slider-searchBox-select {
    width: 22%; }
  .fabD-slider-searchBox-btn {
    width: 22%; }
  .fabD-services-box-item {
    width: 32%;
    height: auto; }
    .fabD-services-box-item span {
      font-size: 16px; }
    .fabD-services-box-item_big {
      width: 65.5%; }
  .fabD-services-tabs-btns-btn {
    width: 25%; }
  .fabD-services-tabs-content {
    padding: 10px; }
  .fabD-serviceProviders-title {
    font-size: 14px; }
  .fabD-saloons-tabs-btns-btn {
    width: 206px;
    height: 97px; }
    .fabD-saloons-tabs-btns-btn_showMore {
      line-height: 100px; }
  .fabD-saloons-tabs-content {
    padding: 20px; }
    .fabD-saloons-tabs-content-left {
      width: 100%;
      padding: 0 0 15px;
      border: 0;
      border-bottom: 1px solid #ccc; }
    .fabD-saloons-tabs-content-right {
      width: 100%;
      text-align: center;
      padding: 25px 0 0; }
      .fabD-saloons-tabs-content-right-infoLeft {
        margin: 0 25px 0 0; }
  .fabD-blog-item {
    width: 100%;
    margin: 0 0 30px; }
  .fabD-app-left-android, .fabD-app-left-apple {
    width: 100%; } }

@media all and (max-width: 640px) {
  .fabD .wrap {
    width: 460px; }
  .fabD-slider-searchBox-input, .fabD-slider-searchBox-select {
    width: 50%; }
  .fabD-slider-searchBox-btn {
    width: 100%; }
  .fabD-services-box-item {
    width: 49%;
    margin: 0 0 8px; }
    .fabD-services-box-item_big {
      width: 100%; }
  .fabD-services-tabs-btns-btn {
    width: 50%; }
  .fabD-services-tabs-content-checkbox {
    width: 50%; }
  .fabD-serviceProviders {
    height: auto;
    text-align: center;
    padding: 20px 0; }
    .fabD-serviceProviders-title {
      width: 100%;
      font-size: 19px; }
    .fabD-serviceProviders-btn {
      margin: 0 auto; }
  .fabD-saloons-tabs-btns-btn {
    width: 50%; }
  .fabD-saloons-tabs-content-right-infoLeft, .fabD-saloons-tabs-content-right-infoRight {
    width: 49%;
    margin: 0; }
  .fabD-app-left {
    width: 100%; }
  .fabD-app-right {
    display: none; } }
