<div class="modal-header">
    <h3 class="modal-title">ngAside</h3>
</div>
<div class="modal-body">
    Look i'm in aside.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
</div>